// main jquery
script(src="../assets/js/jquery-3.6.0.js")

// Theme Customizer
script(src="../assets/js/layout-storage.js")
script(src="../assets/js/customizer.js")

// Feather icons js
script(src="../assets/js/icons/feather-icon/feather.js")

// Bootstrap js
script(src="../assets/js/bootstrap.bundle.min.js")

// Scrollbar
script(src="../assets/js/vendors/simplebar.js")
   
//- Plugin js
if bootstrapnotify
   // bootstrap-notify
   script(src="../assets/js/vendors/notify/bootstrap-notify.js")
   script(src="../assets/js/vendors/notify/bootstrap-customnotify.js")

if apexchart
   // apex chart
   script(src="../assets/js/vendors/chart/apexcharts.js")

if echart
   // echart chart
   script(src="../assets/js/vendors/chart/echarts.min.js")  
   script(src="../assets/js/vendors/chart/custom-echart.js")

if morrischart  
   // morris chart
   script(src="../assets/js/vendors/chart/raphael-min.js")
   script(src="../assets/js/vendors/chart/morris.min.js")
   script(src="../assets/js/vendors/chart/custom-morris.js")

if chartjs  
   // chart chart
   script(src="../assets/js/vendors/chart/chart.min.js")
   script(src="../assets/js/vendors/chart/custom-chartjs.js")

if sparklinechart  
   // sparkline chart
   script(src="../assets/js/vendors/chart/jquery.sparkline.min.js")
      
if customsparklinechart
   // custom sparkline chart
   script(src="../assets/js/vendors/chart/custom-sparkline.js")

if customapexchart
   // custom apex chart
   script(src="../assets/js/vendors/chart/custom-apexchart.js")
      
if dashboard
   // dashboard
   script(src="../assets/js/dashboard/dashboard.js")

if ecommercedash
   // ecommerce dashboard
   script(src="../assets/js/dashboard/ecommerce.js")

if slickslider
   // slick slider
   script(src="../assets/js/vendors/slider/slick-sldier/slick.min.js")
   script(src="../assets/js/vendors/slider/slick-sldier/slick-custom.js")

if ionRangeslider  
   // ion range slider
   script(src="../assets/js/vendors/range-slider/ion-rangeslider.js")
   script(src="../assets/js/vendors/range-slider/custom-rangeslider.js")

if calendar
   // calendar
   script(src="../assets/js/vendors/calendar/calendar.js")  
   script(src="../assets/js/vendors/calendar/custom-calendar.js")

if ckeditor
   // ckeditor  
   script(src="../assets/js/vendors/ckeditor/ckeditor.js")  

if select2
   // select 2 js
   script(src="../assets/js/vendors/select2/select2.min.js")
   script(src="../assets/js/vendors/select2/custom-select2.js")  

if sweetalert2
   // sweetalert js
   script(src="../assets/js/vendors/sweetalert/sweetalert2.js")
   script(src="../assets/js/vendors/sweetalert/custom-sweetalert2.js")

if formvalidation
   // formvalidation
   script(src="../assets/js/form/form-validation.js")

if todoList
   // Todo list
   script(src='../assets/js/vendors/todo/todo.js' )  

if lightbox
   // light box
   script(src='../assets/js/vendors/light-box/fancybox.umd.js')
      
if comingsoon
   // coming soon
   script(src='../assets/js/vendors/coming-soon/coming-soon.js')

if datepicker
   // datepicker
   script(src="../assets/js/vendors/datepicker/datepicker.js")
   script(src="../assets/js/vendors/datepicker/datepicker.en.js")
   script(src="../assets/js/vendors/datepicker/custom-datepicker.js")

if uidatepicker
   // ui datepicker
   script(src="../assets/js/vendors/datepicker/jquery-ui.js")
   script(src="../assets/js/vendors/datepicker/uidatepicker-custom.js")

if datetimepicker
   // datetimepicker
   script(src="../assets/js/vendors/datetimepicker/jquery.datetimepicker.full.min.js")
   script(src="../assets/js/vendors/datetimepicker/custom-datetimepicker.js")

if dropzone
   // Dropzone
   script(src='../assets/js/vendors/dropzone/dropzone.js' )
   script(src='../assets/js/vendors/dropzone/dropzone-custom.js' )

if dataTable
   // Datatable
   script(src='../assets/js/vendors/datatable/jquery.dataTables.min.js')
   script(src='../assets/js/vendors/datatable/dataTables.buttons.min.js')
   script(src='../assets/js/vendors/datatable/buttons.print.min.js')
   script(src='../assets/js/vendors/datatable/jszip.min.js')
   script(src='../assets/js/vendors/datatable/pdfmake.min.js')
   script(src='../assets/js/vendors/datatable/vfs_fonts.js')
   script(src='../assets/js/vendors/datatable/buttons.html5.min.js')
   script(src='../assets/js/vendors/datatable/custom-datatable.js')

// Custom script
script(src="../assets/js/custom-script.js")