
// sidebar start
aside.codex-sidebar
  .logo-gridwrap
    a.codexbrand-logo(href="index.html")
      img.img-fluid(src="../assets/images/logo/logo.png" alt='theeme-logo')
    a.codex-darklogo(href="index.html")
      img.img-fluid(src="../assets/images/logo/dark-logo.png" alt='theeme-logo')
    .sidebar-action
      i(data-feather="menu")
  .icon-logo
    a(href="index.html")
      img.img-fluid(src="../assets/images/logo/icon-logo.png" alt='theeme-logo')
  .codex-menuwrapper
    ul.codex-menu.custom-scroll(data-simplebar)
      li.cdxmenu-title
        h5 Dashboards
      li.menu-item
        a(href="index.html")
          .icon-item
            i(data-feather="home")
          span default
      li.menu-item
        a(href="ecommerce.html")
          .icon-item
            i(data-feather="airplay")
          span ecommerce
      li.cdxmenu-title
        h5 application
      li.menu-item
        a(href="calendar.html")
          .icon-item
            i(data-feather="calendar")
          span calendar
      li.menu-item
        a(href="chat.html")
          .icon-item
            i(data-feather="message-square")
          span chat
      li.menu-item
        a(href="todo.html")
          .icon-item
            i(data-feather="clock")
          span todo
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="mail")
          span email
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="email-inbox.html") email inbox
          li
            a(href="email-read.html") email read
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item 
            i(data-feather="user")
          span Users
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="profile.html") profile
          li
            a(href="user-list.html") user list
          li
            a(href="user-edit.html") user edit
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="shopping-bag")
          span ecommerce
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="product.html") product
          li
            a(href="product-detail.html") product detail
          li
            a(href="add-product.html") add product
          li
            a(href="product-list.html") product list
          li
            a(href="order-history.html") order history
          li
            a(href="cart.html") cart
          li
            a(href="wishlist.html") wishlist
          li
            a(href="checkout.html") checkout
          li
            a(href="pricing.html") pricing
      li.menu-item
        a(href="invoice.html")
          .icon-item
            i(data-feather="file-minus")
          span invoice
      li.cdxmenu-title
        h5 pages
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="command")
          span blog
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="blog.html") blog list
          li
            a(href="blog-detail.html") blog-detail
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="key")
          span Authentication
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="login.html") login         
          li
            a(href="register.html") register
          li
            a(href="forgot-password.html") forgot password
          li
            a(href="new-password.html") reset password
          li
            a(href="verify-email.html") verify email
          li
            a(href="verify-pin.html") verify pin
      li.menu-item
        a(href="error-page.html")
          .icon-item
            i(data-feather="alert-triangle")
          span error 404
      li.menu-item
        a(href="coming-soon.html")
          .icon-item
            i(data-feather="watch")
          span coming soon
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="pie-chart")
          span Charts
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="chart-apex.html") apex chart
          li.menu-item
            a(href="chart-echarts.html") echarts
          li.menu-item
            a(href="chart-morris.html") morris charts
          li.menu-item
            a(href="chart-chartsjs.html") charts js
          li.menu-item
            a(href="chart-sparkline.html") sparkline charts
      li.menu-item
        a(href="contacts.html")
          .icon-item
            i(data-feather="phone-call")
          span contacts
      li.menu-item
        a(href="gallery.html")
          .icon-item
            i(data-feather="image")
          span gallery
      li.cdxmenu-title
        h5 Components
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item 
            i(data-feather="book")
          span form
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="element-input.html") form element
          li
            a(href="element-checkbox-radio.html") checkbox & radio
          li
            a(href="element-datepicker.html") datepicker
          li
            a(href="element-uidatepicker.html") ui datepicker
          li
            a(href="element-datetimepicker.html") datetimepicker
          li
            a(href="form.html") basic form
          li
            a(href="form-validation.html") validation
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item 
            i(data-feather="database")
          span Table
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="data-table.html") Datatable
          li
            a(href="data-table-advance.html") Datatable Advance
          li
            a(href="data-table-ajax.html") Datatable Ajax
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="layout")
          span Advance element
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="timeline-one.html") timeline one
          li
            a(href="timeline-two.html") timeline two
          li
            a(href="element-select2.html") select 2
          li
            a(href="element-switch.html") switch
          li
            a(href="element-dropzone.html") dropzone
          li
            a(href="element-rangeslider.html") range slider
          li
            a(href="bootstrap-notify.html") bootstrap notify
          li
            a(href="element-sweetalert2.html") sweetalert2
          li
            a(href="element-scrollbar.html") scrollbar
          li
           a(href="element-lightbox.html") light box
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="layout")
          span Componet
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="element-typography.html") typography
          li
            a(href="element-color.html") color
          li
            a(href="element-themeclass.html") helper class
          li
            a(href="element-alert.html") Alert
          li
            a(href="element-avtar.html") Avtar
          li
            a(href="element-button.html") Button
          li
            a(href="element-grid.html") grid
          li
            a(href="element-dropdown.html") Dropdown
          li
            a(href="element-breadcrumb.html") Breadcrumb
          li
            a(href="element-collapse.html") Collapse
          li
            a(href="element-accordion.html") Accordion
          li
            a(href="element-badge.html") badge
          li
            a(href="element-modal.html") modal
          li
            a(href="element-tab.html") tabs
          li
            a(href="element-popover.html") popover
          li
            a(href="element-tooltip.html") tooltip
          li
            a(href="element-card.html") card
          li
            a(href="element-progressbar.html") progress bar
          li
            a(href="element-pagination.html") pagination
      li.menu-item
        a(href="javascript:void(0);")
          .icon-item
            i(data-feather="slack")
          span Icons
          i.fa.fa-angle-down
        ul.submenu-list
          li
            a(href="element-fontaw-icon.html") Font Awesome
          li
            a(href="element-themify-icon.html") Themify
          li
            a(href="element-feather-icon.html") Feather
          li
            a(href="element-icoicon.html") icoicon
          li
            a(href="element-flag-icon.html") flag
      li.menu-item
        a(href="faq.html")
          .icon-item
            i(data-feather="help-circle")
          span faq
// sidebar end