//- .customizer-layer
//- .customizer-action
//-     i(data-feather="settings")
//- .theme-cutomizer 
//-   .customizer-header
//-     h4 Theme Setting
//-     .close-customizer
//-       i(data-feather="x")
//-   .customizer-body
//-     .cutomize-group
//-       h6.customizer-title Theme Color
//-       ul.customizeoption-list.themecolor-list
//-         li.color1
//-         li.color2
//-         li.color3
//-         li.color4
//-         li.color5
//-         li.color6
//-     .cutomize-group
//-       h6.customizer-title Sidebar Mode
//-       ul.customizeoption-list.sidebaroption-list
//-         li.sidebarlight-action light
//-         li.sidebardark-action dark
//-         li.sidebargradient-action gradient
//-     .cutomize-group
//-       h6.customizer-title Layout Direction
//-       ul.customizeoption-list
//-         li.ltr-action ltr
//-         li.rtl-action rtl
//-     .cutomize-group.mb-0
//-       h6.customizer-title Layout mode
//-       ul.customizeoption-list
//-         li.light-action light
//-         li.dark-action dark  