-var ckeditor = true;
-var dropzone = true;
doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Add Product")
  body

    +header

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('add product','ecommerce')
      // breadcrumb end

      // theme body start
      .theme-body.cdxshopping-cart
        .custom-container
          .row
            .col-lg-6
              .card
                .card-body
                  .info-group
                    form
                      .form-group
                        label.form-label Product Name
                        input.form-control(type='text' placeholder="Enter Your Product Name")
                      .form-group
                        label.form-label Product Description
                        textarea#crowenkeditor(placeholder="Enter YourProduct Description")
                      .form-group
                        .small-group
                          div
                            label.form-label Categories
                            select.form-select
                              option Select Categories
                              option Fashion
                              option Cosmetics
                              option Sweater
                              option Dress
                              option Shirt
                              option Sandel
                              option Jacket
                              option Pent
                          div
                            label.form-label Brand
                            select.form-select
                              option Select Brand
                              option Zara
                              option Cartier
                              option Lululemon
                              option Moncler
                              option Fendi
                              option Old Navy
                              option Moncler
                              option Delhiwear
                      .form-group.mb-0
                        label.form-label Comment
                        textarea.form-control(placeholder="Enter Your Comment")
            .col-lg-6
              .card
                .card-body
                  form#demo-upload.dropzone.needsclick(action='/upload')
                    .dz-message.needsclick
                      .upload-icon
                        i.fa.fa-cloud-upload
                      h3 Drop files here or click to upload.
                      p (This is just a demo dropzone. Selected files are
                        strong not
                          |  actually uploaded.)
                  .preview-dropzon(style='display: none;')
                    .dz-preview.dz-file-preview
                      .dz-image
                        img(data-dz-thumbnail='' src='' alt="")
                      .dz-details
                        .dz-size
                          span(data-dz-size='')
                        .dz-filename
                          span(data-dz-name='')
                      .dz-progress
                        span.dz-upload(data-dz-uploadprogress='')
                      .dz-success-mark
                        i.fa.fa-check(aria-hidden='true')
              .card
                .card-body
                  .info-group
                    form
                      .form-group
                        label.form-label Price
                        input.form-control(type='text' placeholder="Enter Product Price")
                      .form-group.mb-0
                        label.form-label Status
                        .small-group
                          div
                            .chek-group
                              +checkinput('radio','pricerange_1', 'Status')
                              label.ml-5(for='pricerange_1') Online
                          div
                            .chek-group
                              +checkinput('radio','pricerange_2', 'Status')
                              label.ml-5(for='pricerange_2') Offline
                          div
                            .chek-group
                              +checkinput('radio','pricerange_3', 'Status')
                              label.ml-5(for='pricerange_3') Draft
            .col-lg-12
              .group-button.text-end
                a.btn.btn-success(href="javascript:void(0)") Add
                a.btn.btn-danger.ml-15(href="javascript:void(0)") cancle

      // theme body end

    // footer start
    +footer
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    
    +footerfile

    script.
      ClassicEditor
        .create( document.querySelector( '#crowenkeditor' ), {
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                ]
            }
        } )
        .catch( error => {
            console.log( error );
        } );     