doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Contacts")
  body

    +header    


    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('contact','pages')
      // breadcrumb end
    
      // theme body start
      .theme-body
        .custom-container
          .row                
            .col-md-12
              .card
                .card-body
                  .contact-searchbar
                    .input-group
                      span.input-group-text
                        i.fa.fa-search.text-light
                      input(type="text" class="form-control" placeholder="Search Contact")
                    a.btn.btn-primary(href="javascript:void(0)") Add Contact
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('mark wangar','ui desinger','28-02-1993',"164 Boston, USA",'+124589485589','mark@example.com','1.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('thomos vactom','ux desinger','02-05-1994',"164 Boston, USA",'+958589485589','thomas@example.com','2.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('johan deo','web desinger','08-04-1990',"164 Boston, USA",'+859589485589','johan@example.com','3.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('leena odem','web devloper','09-05-2001',"164 Boston, USA",'+682589485589','leena@example.com','4.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('vamsi ogel','project manager','29-03-1996',"164 Boston, USA",'+258589485589','vamsi@example.com','5.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('omini rome','game devloper','15-08-2000',"164 Boston, USA",'+425589485589','omini@example.com','6.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('mark wangar','ui desinger','28-02-1993',"164 Boston, USA",'+124589485589','mark@example.com','1.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('thomos vactom','ux desinger','02-05-1994',"164 Boston, USA",'+958589485589','thomas@example.com','2.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('johan deo','web desinger','08-04-1990',"164 Boston, USA",'+859589485589','johan@example.com','3.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('leena odem','web devloper','09-05-2001',"164 Boston, USA",'+682589485589','leena@example.com','4.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('vamsi ogel','project manager','29-03-1996',"164 Boston, USA",'+258589485589','vamsi@example.com','5.jpg')
            .col-xl-4.col-md-6.cdx-xxl-50.cdx-xl-50
              +contactcard('omini rome','game devloper','15-08-2000',"164 Boston, USA",'+425589485589','omini@example.com','6.jpg')

      // contact update modal end   
      #contactmodal.codex-modal.modal.fade
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h5.modal-title Edit contact
              a(href="javascript:void(0)" data-bs-dismiss='modal')            
                i.ti-close               
            .modal-body
              form
                .form-group
                  .small-group
                    div
                      input.form-control(type="text" value="mark wanger")
                    div
                      input.form-control(type="text" value="ui/ux desinger")
                .form-group
                  .small-group
                    div
                      input.form-control(type="text" value="27-11-1997")
                    div
                      input.form-control(type="text" value="164 Boston, USA")
                .form-group
                  .small-group
                    div
                      input.form-control(type="number" value="124589485589" placeholder="+124589485589")
                    div
                      input.form-control(type="email" value="Mark@example.com")
                .form-group
                  textarea.form-control(placeholder='update infomation')
            .modal-footer
              a.btn.btn-success(href="javascript:void(0)") submit
              a.btn.btn-danger(href="javascript:void(0)" data-bs-dismiss='modal') cancel
      // contact update modal end

      // theme body end

    // footer start
    +footer
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile