doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Fontawesome Icons")
  body

    +header    


    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Font Awesome Icons','icons')  
      // breadcrumb end

      // theme body start
      .theme-body
        .custom-container.profile-page
          .row     
              .col-12 
                  .card 
                      .card-header 
                          h4 New Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-address-book
                              li.iconList
                                  i.fa.fa-address-book-o
                              li.iconList
                                  i.fa.fa-address-card
                              li.iconList
                                  i.fa.fa-address-card-o
                              li.iconList
                                  i.fa.fa-bandcamp
                              li.iconList
                                  i.fa.fa-bath
                              li.iconList
                                  i.fa.fa-bathtub
                              li.iconList
                                  i.fa.fa-drivers-license
                              li.iconList
                                  i.fa.fa-drivers-license-o
                              li.iconList
                                  i.fa.fa-eercast
                              li.iconList
                                  i.fa.fa-envelope-open
                              li.iconList
                                  i.fa.fa-envelope-open-o
                              li.iconList
                                  i.fa.fa-etsy
                              li.iconList
                                  i.fa.fa-free-code-camp
                              li.iconList
                                  i.fa.fa-grav
                              li.iconList
                                  i.fa.fa-handshake-o
                              li.iconList
                                  i.fa.fa-id-badge
                              li.iconList
                                  i.fa.fa-id-card
                              li.iconList
                                  i.fa.fa-id-card-o
                              li.iconList
                                  i.fa.fa-imdb
                              li.iconList
                                  i.fa.fa-linode
                              li.iconList
                                  i.fa.fa-meetup
                              li.iconList
                                  i.fa.fa-microchip
                              li.iconList
                                  i.fa.fa-podcast
                              li.iconList
                                  i.fa.fa-quora
                              li.iconList
                                  i.fa.fa-ravelry
                              li.iconList
                                  i.fa.fa-s15
                              li.iconList
                                  i.fa.fa-shower
                              li.iconList
                                  i.fa.fa-snowflake-o
                              li.iconList
                                  i.fa.fa-superpowers
                              li.iconList
                                  i.fa.fa-telegram
                              li.iconList
                                  i.fa.fa-thermometer
                              li.iconList
                                  i.fa.fa-thermometer-0
                              li.iconList
                                  i.fa.fa-thermometer-1
                              li.iconList
                                  i.fa.fa-thermometer-2
                              li.iconList
                                  i.fa.fa-thermometer-3
                              li.iconList
                                  i.fa.fa-thermometer-4
                              li.iconList
                                  i.fa.fa-thermometer-empty
                              li.iconList
                                  i.fa.fa-thermometer-full
                              li.iconList
                                  i.fa.fa-thermometer-half
                              li.iconList
                                  i.fa.fa-thermometer-quarter
                              li.iconList
                                  i.fa.fa-thermometer-three-quarters
                              li.iconList
                                  i.fa.fa-times-rectangle
                              li.iconList
                                  i.fa.fa-times-rectangle-o
                              li.iconList
                                  i.fa.fa-user-circle
                              li.iconList
                                  i.fa.fa-user-circle-o
                              li.iconList
                                  i.fa.fa-user-o
                              li.iconList
                                  i.fa.fa-vcard
                              li.iconList
                                  i.fa.fa-vcard-o
                              li.iconList
                                  i.fa.fa-window-close
                              li.iconList
                                  i.fa.fa-window-close-o
                              li.iconList
                                  i.fa.fa-window-maximize
                              li.iconList
                                  i.fa.fa-window-minimize
                              li.iconList
                                  i.fa.fa-window-restore
                              li.iconList
                                  i.fa.fa-wpexplorer
              .col-12 
                  .card 
                      .card-header 
                          h4 Web Application Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-address-book
                              li.iconList
                                  i.fa.fa-address-book-o
                              li.iconList
                                  i.fa.fa-address-card
                              li.iconList
                                  i.fa.fa-address-card-o
                              li.iconList
                                  i.fa.fa-adjust
                              li.iconList
                                  i.fa.fa-american-sign-language-interpreting
                              li.iconList
                                  i.fa.fa-anchor
                              li.iconList
                                  i.fa.fa-archive
                              li.iconList
                                  i.fa.fa-area-chart
                              li.iconList
                                  i.fa.fa-arrows
                              li.iconList
                                  i.fa.fa-arrows-h
                              li.iconList
                                  i.fa.fa-arrows-v
                              li.iconList
                                  i.fa.fa-asl-interpreting
                              li.iconList
                                  i.fa.fa-assistive-listening-systems
                              li.iconList
                                  i.fa.fa-asterisk
                              li.iconList
                                  i.fa.fa-at
                              li.iconList
                                  i.fa.fa-audio-description
                              li.iconList
                                  i.fa.fa-automobile
                              li.iconList
                                  i.fa.fa-balance-scale
                              li.iconList
                                  i.fa.fa-ban
                              li.iconList
                                  i.fa.fa-bank
                              li.iconList
                                  i.fa.fa-bar-chart
                              li.iconList
                                  i.fa.fa-bar-chart-o
                              li.iconList
                                  i.fa.fa-barcode
                              li.iconList
                                  i.fa.fa-bars
                              li.iconList
                                  i.fa.fa-bath
                              li.iconList
                                  i.fa.fa-bathtub
                              li.iconList
                                  i.fa.fa-battery
                              li.iconList
                                  i.fa.fa-battery-0
                              li.iconList
                                  i.fa.fa-battery-1
                              li.iconList
                                  i.fa.fa-battery-2
                              li.iconList
                                  i.fa.fa-battery-3
                              li.iconList
                                  i.fa.fa-battery-4
                              li.iconList
                                  i.fa.fa-battery-empty
                              li.iconList
                                  i.fa.fa-battery-full
                              li.iconList
                                  i.fa.fa-battery-half
                              li.iconList
                                  i.fa.fa-battery-quarter
                              li.iconList
                                  i.fa.fa-battery-three-quarters
                              li.iconList
                                  i.fa.fa-bed
                              li.iconList
                                  i.fa.fa-beer
                              li.iconList
                                  i.fa.fa-bell
                              li.iconList
                                  i.fa.fa-bell-o
                              li.iconList
                                  i.fa.fa-bell-slash
                              li.iconList
                                  i.fa.fa-bell-slash-o
                              li.iconList
                                  i.fa.fa-bicycle
                              li.iconList
                                  i.fa.fa-binoculars
                              li.iconList
                                  i.fa.fa-birthday-cake
                              li.iconList
                                  i.fa.fa-blind
                              li.iconList
                                  i.fa.fa-bluetooth
                              li.iconList
                                  i.fa.fa-bluetooth-b
                              li.iconList
                                  i.fa.fa-bolt
                              li.iconList
                                  i.fa.fa-bomb
                              li.iconList
                                  i.fa.fa-book
                              li.iconList
                                  i.fa.fa-bookmark
                              li.iconList
                                  i.fa.fa-bookmark-o
                              li.iconList
                                  i.fa.fa-braille
                              li.iconList
                                  i.fa.fa-briefcase
                              li.iconList
                                  i.fa.fa-bug
                              li.iconList
                                  i.fa.fa-building
                              li.iconList
                                  i.fa.fa-building-o
                              li.iconList
                                  i.fa.fa-bullhorn
                              li.iconList
                                  i.fa.fa-bullseye
                              li.iconList
                                  i.fa.fa-bus
                              li.iconList
                                  i.fa.fa-cab
                              li.iconList
                                  i.fa.fa-calculator
                              li.iconList
                                  i.fa.fa-calendar
                              li.iconList
                                  i.fa.fa-calendar-check-o
                              li.iconList
                                  i.fa.fa-calendar-minus-o
                              li.iconList
                                  i.fa.fa-calendar-o
                              li.iconList
                                  i.fa.fa-calendar-plus-o
                              li.iconList
                                  i.fa.fa-calendar-times-o
                              li.iconList
                                  i.fa.fa-camera
                              li.iconList
                                  i.fa.fa-camera-retro
                              li.iconList
                                  i.fa.fa-car
                              li.iconList
                                  i.fa.fa-caret-square-o-down
                              li.iconList
                                  i.fa.fa-caret-square-o-left
                              li.iconList
                                  i.fa.fa-caret-square-o-right
                              li.iconList
                                  i.fa.fa-caret-square-o-up
                              li.iconList
                                  i.fa.fa-cart-arrow-down
                              li.iconList
                                  i.fa.fa-cart-plus
                              li.iconList
                                  i.fa.fa-cc
                              li.iconList
                                  i.fa.fa-certificate
                              li.iconList
                                  i.fa.fa-check
                              li.iconList
                                  i.fa.fa-check-circle
                              li.iconList
                                  i.fa.fa-check-circle-o
                              li.iconList
                                  i.fa.fa-check-square
                              li.iconList
                                  i.fa.fa-check-square-o
                              li.iconList
                                  i.fa.fa-child
                              li.iconList
                                  i.fa.fa-circle
                              li.iconList
                                  i.fa.fa-circle-o
                              li.iconList
                                  i.fa.fa-circle-o-notch
                              li.iconList
                                  i.fa.fa-circle-thin
                              li.iconList
                                  i.fa.fa-clock-o
                              li.iconList
                                  i.fa.fa-clone
                              li.iconList
                                  i.fa.fa-close
                              li.iconList
                                  i.fa.fa-cloud
                              li.iconList
                                  i.fa.fa-cloud-download
                              li.iconList
                                  i.fa.fa-cloud-upload
                              li.iconList
                                  i.fa.fa-code
                              li.iconList
                                  i.fa.fa-code-fork
                              li.iconList
                                  i.fa.fa-coffee
                              li.iconList
                                  i.fa.fa-cog
                              li.iconList
                                  i.fa.fa-cogs
                              li.iconList
                                  i.fa.fa-comment
                              li.iconList
                                  i.fa.fa-comment-o
                              li.iconList
                                  i.fa.fa-commenting
                              li.iconList
                                  i.fa.fa-commenting-o
                              li.iconList
                                  i.fa.fa-comments
                              li.iconList
                                  i.fa.fa-comments-o
                              li.iconList
                                  i.fa.fa-compass
                              li.iconList
                                  i.fa.fa-copyright
                              li.iconList
                                  i.fa.fa-creative-commons
                              li.iconList
                                  i.fa.fa-credit-card
                              li.iconList
                                  i.fa.fa-credit-card-alt
                              li.iconList
                                  i.fa.fa-crop
                              li.iconList
                                  i.fa.fa-crosshairs
                              li.iconList
                                  i.fa.fa-cube
                              li.iconList
                                  i.fa.fa-cubes
                              li.iconList
                                  i.fa.fa-cutlery
                              li.iconList
                                  i.fa.fa-dashboard
                              li.iconList
                                  i.fa.fa-database
                              li.iconList
                                  i.fa.fa-deaf
                              li.iconList
                                  i.fa.fa-deafness
                              li.iconList
                                  i.fa.fa-desktop
                              li.iconList
                                  i.fa.fa-diamond
                              li.iconList
                                  i.fa.fa-dot-circle-o
                              li.iconList
                                  i.fa.fa-download
                              li.iconList
                                  i.fa.fa-drivers-license
                              li.iconList
                                  i.fa.fa-drivers-license-o
                              li.iconList
                                  i.fa.fa-edit
                              li.iconList
                                  i.fa.fa-ellipsis-h
                              li.iconList
                                  i.fa.fa-ellipsis-v
                              li.iconList
                                  i.fa.fa-envelope
                              li.iconList
                                  i.fa.fa-envelope-o
                              li.iconList
                                  i.fa.fa-envelope-open
                              li.iconList
                                  i.fa.fa-envelope-open-o
                              li.iconList
                                  i.fa.fa-envelope-square
                              li.iconList
                                  i.fa.fa-eraser
                              li.iconList
                                  i.fa.fa-exchange
                              li.iconList
                                  i.fa.fa-exclamation
                              li.iconList
                                  i.fa.fa-exclamation-circle
                              li.iconList
                                  i.fa.fa-exclamation-triangle
                              li.iconList
                                  i.fa.fa-external-link
                              li.iconList
                                  i.fa.fa-external-link-square
                              li.iconList
                                  i.fa.fa-eye
                              li.iconList
                                  i.fa.fa-eye-slash
                              li.iconList
                                  i.fa.fa-eyedropper
                              li.iconList
                                  i.fa.fa-fax
                              li.iconList
                                  i.fa.fa-feed
                              li.iconList
                                  i.fa.fa-female
                              li.iconList
                                  i.fa.fa-fighter-jet
                              li.iconList
                                  i.fa.fa-file-archive-o
                              li.iconList
                                  i.fa.fa-file-audio-o
                              li.iconList
                                  i.fa.fa-file-code-o
                              li.iconList
                                  i.fa.fa-file-excel-o
                              li.iconList
                                  i.fa.fa-file-image-o
                              li.iconList
                                  i.fa.fa-file-movie-o
                              li.iconList
                                  i.fa.fa-file-pdf-o
                              li.iconList
                                  i.fa.fa-file-photo-o
                              li.iconList
                                  i.fa.fa-file-picture-o
                              li.iconList
                                  i.fa.fa-file-powerpoint-o
                              li.iconList
                                  i.fa.fa-file-sound-o
                              li.iconList
                                  i.fa.fa-file-video-o
                              li.iconList
                                  i.fa.fa-file-word-o
                              li.iconList
                                  i.fa.fa-file-zip-o
                              li.iconList
                                  i.fa.fa-film
                              li.iconList
                                  i.fa.fa-filter
                              li.iconList
                                  i.fa.fa-fire
                              li.iconList
                                  i.fa.fa-fire-extinguisher
                              li.iconList
                                  i.fa.fa-flag
                              li.iconList
                                  i.fa.fa-flag-checkered
                              li.iconList
                                  i.fa.fa-flag-o
                              li.iconList
                                  i.fa.fa-flash
                              li.iconList
                                  i.fa.fa-flask
                              li.iconList
                                  i.fa.fa-folder
                              li.iconList
                                  i.fa.fa-folder-o
                              li.iconList
                                  i.fa.fa-folder-open
                              li.iconList
                                  i.fa.fa-folder-open-o
                              li.iconList
                                  i.fa.fa-frown-o
                              li.iconList
                                  i.fa.fa-futbol-o
                              li.iconList
                                  i.fa.fa-gamepad
                              li.iconList
                                  i.fa.fa-gavel
                              li.iconList
                                  i.fa.fa-gear
                              li.iconList
                                  i.fa.fa-gears
                              li.iconList
                                  i.fa.fa-gift
                              li.iconList
                                  i.fa.fa-glass
                              li.iconList
                                  i.fa.fa-globe
                              li.iconList
                                  i.fa.fa-graduation-cap
                              li.iconList
                                  i.fa.fa-group
                              li.iconList
                                  i.fa.fa-hand-grab-o
                              li.iconList
                                  i.fa.fa-hand-lizard-o
                              li.iconList
                                  i.fa.fa-hand-paper-o
                              li.iconList
                                  i.fa.fa-hand-peace-o
                              li.iconList
                                  i.fa.fa-hand-pointer-o
                              li.iconList
                                  i.fa.fa-hand-rock-o
                              li.iconList
                                  i.fa.fa-hand-scissors-o
                              li.iconList
                                  i.fa.fa-hand-spock-o
                              li.iconList
                                  i.fa.fa-hand-stop-o
                              li.iconList
                                  i.fa.fa-handshake-o
                              li.iconList
                                  i.fa.fa-hard-of-hearing
                              li.iconList
                                  i.fa.fa-hashtag
                              li.iconList
                                  i.fa.fa-hdd-o
                              li.iconList
                                  i.fa.fa-headphones
                              li.iconList
                                  i.fa.fa-heart
                              li.iconList
                                  i.fa.fa-heart-o
                              li.iconList
                                  i.fa.fa-heartbeat
                              li.iconList
                                  i.fa.fa-history
                              li.iconList
                                  i.fa.fa-home
                              li.iconList
                                  i.fa.fa-hotel
                              li.iconList
                                  i.fa.fa-hourglass
                              li.iconList
                                  i.fa.fa-hourglass-1
                              li.iconList
                                  i.fa.fa-hourglass-2
                              li.iconList
                                  i.fa.fa-hourglass-3
                              li.iconList
                                  i.fa.fa-hourglass-end
                              li.iconList
                                  i.fa.fa-hourglass-half
                              li.iconList
                                  i.fa.fa-hourglass-o
                              li.iconList
                                  i.fa.fa-hourglass-start
                              li.iconList
                                  i.fa.fa-i-cursor
                              li.iconList
                                  i.fa.fa-id-badge
                              li.iconList
                                  i.fa.fa-id-card
                              li.iconList
                                  i.fa.fa-id-card-o
                              li.iconList
                                  i.fa.fa-image
                              li.iconList
                                  i.fa.fa-inbox
                              li.iconList
                                  i.fa.fa-industry
                              li.iconList
                                  i.fa.fa-info
                              li.iconList
                                  i.fa.fa-info-circle
                              li.iconList
                                  i.fa.fa-institution
                              li.iconList
                                  i.fa.fa-key
                              li.iconList
                                  i.fa.fa-keyboard-o
                              li.iconList
                                  i.fa.fa-language
                              li.iconList
                                  i.fa.fa-laptop
                              li.iconList
                                  i.fa.fa-leaf
                              li.iconList
                                  i.fa.fa-legal
                              li.iconList
                                  i.fa.fa-lemon-o
                              li.iconList
                                  i.fa.fa-level-down
                              li.iconList
                                  i.fa.fa-level-up
                              li.iconList
                                  i.fa.fa-life-bouy
                              li.iconList
                                  i.fa.fa-life-buoy
                              li.iconList
                                  i.fa.fa-life-ring
                              li.iconList
                                  i.fa.fa-life-saver
                              li.iconList
                                  i.fa.fa-lightbulb-o
                              li.iconList
                                  i.fa.fa-line-chart
                              li.iconList
                                  i.fa.fa-location-arrow
                              li.iconList
                                  i.fa.fa-lock
                              li.iconList
                                  i.fa.fa-low-vision
                              li.iconList
                                  i.fa.fa-magic
                              li.iconList
                                  i.fa.fa-magnet
                              li.iconList
                                  i.fa.fa-mail-forward
                              li.iconList
                                  i.fa.fa-mail-reply
                              li.iconList
                                  i.fa.fa-mail-reply-all
                              li.iconList
                                  i.fa.fa-male
                              li.iconList
                                  i.fa.fa-map
                              li.iconList
                                  i.fa.fa-map-marker
                              li.iconList
                                  i.fa.fa-map-o
                              li.iconList
                                  i.fa.fa-map-pin
                              li.iconList
                                  i.fa.fa-map-signs
                              li.iconList
                                  i.fa.fa-meh-o
                              li.iconList
                                  i.fa.fa-microchip
                              li.iconList
                                  i.fa.fa-microphone
                              li.iconList
                                  i.fa.fa-microphone-slash
                              li.iconList
                                  i.fa.fa-minus
                              li.iconList
                                  i.fa.fa-minus-circle
                              li.iconList
                                  i.fa.fa-minus-square
                              li.iconList
                                  i.fa.fa-minus-square-o
                              li.iconList
                                  i.fa.fa-mobile
                              li.iconList
                                  i.fa.fa-mobile-phone
                              li.iconList
                                  i.fa.fa-money
                              li.iconList
                                  i.fa.fa-moon-o
                              li.iconList
                                  i.fa.fa-mortar-board
                              li.iconList
                                  i.fa.fa-motorcycle
                              li.iconList
                                  i.fa.fa-mouse-pointer
                              li.iconList
                                  i.fa.fa-music
                              li.iconList
                                  i.fa.fa-navicon
                              li.iconList
                                  i.fa.fa-newspaper-o
                              li.iconList
                                  i.fa.fa-object-group
                              li.iconList
                                  i.fa.fa-object-ungroup
                              li.iconList
                                  i.fa.fa-paint-brush
                              li.iconList
                                  i.fa.fa-paper-plane
                              li.iconList
                                  i.fa.fa-paper-plane-o
                              li.iconList
                                  i.fa.fa-paw
                              li.iconList
                                  i.fa.fa-pencil
                              li.iconList
                                  i.fa.fa-pencil-square
                              li.iconList
                                  i.fa.fa-pencil-square-o
                              li.iconList
                                  i.fa.fa-percent
                              li.iconList
                                  i.fa.fa-phone
                              li.iconList
                                  i.fa.fa-phone-square
                              li.iconList
                                  i.fa.fa-photo
                              li.iconList
                                  i.fa.fa-picture-o
                              li.iconList
                                  i.fa.fa-pie-chart
                              li.iconList
                                  i.fa.fa-plane
                              li.iconList
                                  i.fa.fa-plug
                              li.iconList
                                  i.fa.fa-plus
                              li.iconList
                                  i.fa.fa-plus-circle
                              li.iconList
                                  i.fa.fa-plus-square
                              li.iconList
                                  i.fa.fa-plus-square-o
                              li.iconList
                                  i.fa.fa-podcast
                              li.iconList
                                  i.fa.fa-power-off
                              li.iconList
                                  i.fa.fa-print
                              li.iconList
                                  i.fa.fa-puzzle-piece
                              li.iconList
                                  i.fa.fa-qrcode
                              li.iconList
                                  i.fa.fa-question
                              li.iconList
                                  i.fa.fa-question-circle
                              li.iconList
                                  i.fa.fa-question-circle-o
                              li.iconList
                                  i.fa.fa-quote-left
                              li.iconList
                                  i.fa.fa-quote-right
                              li.iconList
                                  i.fa.fa-random
                              li.iconList
                                  i.fa.fa-recycle
                              li.iconList
                                  i.fa.fa-refresh
                              li.iconList
                                  i.fa.fa-registered
                              li.iconList
                                  i.fa.fa-remove
                              li.iconList
                                  i.fa.fa-reorder
                              li.iconList
                                  i.fa.fa-reply
                              li.iconList
                                  i.fa.fa-reply-all
                              li.iconList
                                  i.fa.fa-retweet
                              li.iconList
                                  i.fa.fa-road
                              li.iconList
                                  i.fa.fa-rocket
                              li.iconList
                                  i.fa.fa-rss
                              li.iconList
                                  i.fa.fa-rss-square
                              li.iconList
                                  i.fa.fa-s15
                              li.iconList
                                  i.fa.fa-search
                              li.iconList
                                  i.fa.fa-search-minus
                              li.iconList
                                  i.fa.fa-search-plus
                              li.iconList
                                  i.fa.fa-send
                              li.iconList
                                  i.fa.fa-send-o
                              li.iconList
                                  i.fa.fa-server
                              li.iconList
                                  i.fa.fa-share
                              li.iconList
                                  i.fa.fa-share-alt
                              li.iconList
                                  i.fa.fa-share-alt-square
                              li.iconList
                                  i.fa.fa-share-square
                              li.iconList
                                  i.fa.fa-share-square-o
                              li.iconList
                                  i.fa.fa-shield
                              li.iconList
                                  i.fa.fa-ship
                              li.iconList
                                  i.fa.fa-shopping-bag
                              li.iconList
                                  i.fa.fa-shopping-basket
                              li.iconList
                                  i.fa.fa-shopping-cart
                              li.iconList
                                  i.fa.fa-shower
                              li.iconList
                                  i.fa.fa-sign-in
                              li.iconList
                                  i.fa.fa-sign-language
                              li.iconList
                                  i.fa.fa-sign-out
                              li.iconList
                                  i.fa.fa-signal
                              li.iconList
                                  i.fa.fa-signing
                              li.iconList
                                  i.fa.fa-sitemap
                              li.iconList
                                  i.fa.fa-sliders
                              li.iconList
                                  i.fa.fa-smile-o
                              li.iconList
                                  i.fa.fa-snowflake-o
                              li.iconList
                                  i.fa.fa-soccer-ball-o
                              li.iconList
                                  i.fa.fa-sort
                              li.iconList
                                  i.fa.fa-sort-alpha-asc
                              li.iconList
                                  i.fa.fa-sort-alpha-desc
                              li.iconList
                                  i.fa.fa-sort-amount-asc
                              li.iconList
                                  i.fa.fa-sort-amount-desc
                              li.iconList
                                  i.fa.fa-sort-asc
                              li.iconList
                                  i.fa.fa-sort-desc
                              li.iconList
                                  i.fa.fa-sort-down
                              li.iconList
                                  i.fa.fa-sort-numeric-asc
                              li.iconList
                                  i.fa.fa-sort-numeric-desc
                              li.iconList
                                  i.fa.fa-sort-up
                              li.iconList
                                  i.fa.fa-space-shuttle
                              li.iconList
                                  i.fa.fa-spinner
                              li.iconList
                                  i.fa.fa-spoon
                              li.iconList
                                  i.fa.fa-square
                              li.iconList
                                  i.fa.fa-square-o
                              li.iconList
                                  i.fa.fa-star
                              li.iconList
                                  i.fa.fa-star-half
                              li.iconList
                                  i.fa.fa-star-half-empty
                              li.iconList
                                  i.fa.fa-star-half-full
                              li.iconList
                                  i.fa.fa-star-half-o
                              li.iconList
                                  i.fa.fa-star-o
                              li.iconList
                                  i.fa.fa-sticky-note
                              li.iconList
                                  i.fa.fa-sticky-note-o
                              li.iconList
                                  i.fa.fa-street-view
                              li.iconList
                                  i.fa.fa-suitcase
                              li.iconList
                                  i.fa.fa-sun-o
                              li.iconList
                                  i.fa.fa-support
                              li.iconList
                                  i.fa.fa-tablet
                              li.iconList
                                  i.fa.fa-tachometer
                              li.iconList
                                  i.fa.fa-tag
                              li.iconList
                                  i.fa.fa-tags
                              li.iconList
                                  i.fa.fa-tasks
                              li.iconList
                                  i.fa.fa-taxi
                              li.iconList
                                  i.fa.fa-television
                              li.iconList
                                  i.fa.fa-terminal
                              li.iconList
                                  i.fa.fa-thermometer
                              li.iconList
                                  i.fa.fa-thermometer-0
                              li.iconList
                                  i.fa.fa-thermometer-1
                              li.iconList
                                  i.fa.fa-thermometer-2
                              li.iconList
                                  i.fa.fa-thermometer-3
                              li.iconList
                                  i.fa.fa-thermometer-4
                              li.iconList
                                  i.fa.fa-thermometer-empty
                              li.iconList
                                  i.fa.fa-thermometer-full
                              li.iconList
                                  i.fa.fa-thermometer-half
                              li.iconList
                                  i.fa.fa-thermometer-quarter
                              li.iconList
                                  i.fa.fa-thermometer-three-quarters
                              li.iconList
                                  i.fa.fa-thumb-tack
                              li.iconList
                                  i.fa.fa-thumbs-down
                              li.iconList
                                  i.fa.fa-thumbs-o-down
                              li.iconList
                                  i.fa.fa-thumbs-o-up
                              li.iconList
                                  i.fa.fa-thumbs-up
                              li.iconList
                                  i.fa.fa-ticket
                              li.iconList
                                  i.fa.fa-times
                              li.iconList
                                  i.fa.fa-times-circle
                              li.iconList
                                  i.fa.fa-times-circle-o
                              li.iconList
                                  i.fa.fa-times-rectangle
                              li.iconList
                                  i.fa.fa-times-rectangle-o
                              li.iconList
                                  i.fa.fa-tint
                              li.iconList
                                  i.fa.fa-toggle-down
                              li.iconList
                                  i.fa.fa-toggle-left
                              li.iconList
                                  i.fa.fa-toggle-off
                              li.iconList
                                  i.fa.fa-toggle-on
                              li.iconList
                                  i.fa.fa-toggle-right
                              li.iconList
                                  i.fa.fa-toggle-up
                              li.iconList
                                  i.fa.fa-trademark
                              li.iconList
                                  i.fa.fa-trash
                              li.iconList
                                  i.fa.fa-trash-o
                              li.iconList
                                  i.fa.fa-tree
                              li.iconList
                                  i.fa.fa-trophy
                              li.iconList
                                  i.fa.fa-truck
                              li.iconList
                                  i.fa.fa-tty
                              li.iconList
                                  i.fa.fa-tv
                              li.iconList
                                  i.fa.fa-umbrella
                              li.iconList
                                  i.fa.fa-universal-access
                              li.iconList
                                  i.fa.fa-university
                              li.iconList
                                  i.fa.fa-unlock
                              li.iconList
                                  i.fa.fa-unlock-alt
                              li.iconList
                                  i.fa.fa-unsorted
                              li.iconList
                                  i.fa.fa-upload
                              li.iconList
                                  i.fa.fa-user
                              li.iconList
                                  i.fa.fa-user-circle
                              li.iconList
                                  i.fa.fa-user-circle-o
                              li.iconList
                                  i.fa.fa-user-o
                              li.iconList
                                  i.fa.fa-user-plus
                              li.iconList
                                  i.fa.fa-user-secret
                              li.iconList
                                  i.fa.fa-user-times
                              li.iconList
                                  i.fa.fa-users
                              li.iconList
                                  i.fa.fa-vcard
                              li.iconList
                                  i.fa.fa-vcard-o
                              li.iconList
                                  i.fa.fa-video-camera
                              li.iconList
                                  i.fa.fa-volume-control-phone
                              li.iconList
                                  i.fa.fa-volume-down
                              li.iconList
                                  i.fa.fa-volume-off
                              li.iconList
                                  i.fa.fa-volume-up
                              li.iconList
                                  i.fa.fa-warning
                              li.iconList
                                  i.fa.fa-wheelchair
                              li.iconList
                                  i.fa.fa-wheelchair-alt
                              li.iconList
                                  i.fa.fa-wifi
                              li.iconList
                                  i.fa.fa-window-close
                              li.iconList
                                  i.fa.fa-window-close-o
                              li.iconList
                                  i.fa.fa-window-maximize
                              li.iconList
                                  i.fa.fa-window-minimize
                              li.iconList
                                  i.fa.fa-window-restore
                              li.iconList
                                  i.fa.fa-wrench

              .col-12 
                  .card 
                      .card-header 
                          h4 Accessibility Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-american-sign-language-interpreting
                              li.iconList
                                  i.fa.fa-asl-interpreting
                              li.iconList
                                  i.fa.fa-assistive-listening-systems
                              li.iconList
                                  i.fa.fa-audio-description
                              li.iconList
                                  i.fa.fa-blind
                              li.iconList
                                  i.fa.fa-braille
                              li.iconList
                                  i.fa.fa-cc
                              li.iconList
                                  i.fa.fa-deaf
                              li.iconList
                                  i.fa.fa-deafness
                              li.iconList
                                  i.fa.fa-hard-of-hearing
                              li.iconList
                                  i.fa.fa-low-vision
                              li.iconList
                                  i.fa.fa-question-circle-o
                              li.iconList
                                  i.fa.fa-sign-language
                              li.iconList
                                  i.fa.fa-signing
                              li.iconList
                                  i.fa.fa-tty
                              li.iconList
                                  i.fa.fa-universal-access
                              li.iconList
                                  i.fa.fa-volume-control-phone
                              li.iconList
                                  i.fa.fa-wheelchair
                              li.iconList
                                  i.fa.fa-wheelchair-alt

              .col-12 
                  .card 
                      .card-header 
                          h4 Hand Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-hand-grab-o
                              li.iconList
                                  i.fa.fa-hand-lizard-o
                              li.iconList
                                  i.fa.fa-hand-o-down
                              li.iconList
                                  i.fa.fa-hand-o-left
                              li.iconList
                                  i.fa.fa-hand-o-right
                              li.iconList
                                  i.fa.fa-hand-o-up
                              li.iconList
                                  i.fa.fa-hand-paper-o
                              li.iconList
                                  i.fa.fa-hand-peace-o
                              li.iconList
                                  i.fa.fa-hand-pointer-o
                              li.iconList
                                  i.fa.fa-hand-rock-o
                              li.iconList
                                  i.fa.fa-hand-scissors-o
                              li.iconList
                                  i.fa.fa-hand-spock-o
                              li.iconList
                                  i.fa.fa-hand-stop-o
                              li.iconList
                                  i.fa.fa-thumbs-down
                              li.iconList
                                  i.fa.fa-thumbs-o-down
                              li.iconList
                                  i.fa.fa-thumbs-o-up
                              li.iconList
                                  i.fa.fa-thumbs-up

              .col-12 
                  .card 
                      .card-header 
                          h4 Transportation Icons
                      .card-body  
                          ul.iconGroup  
                              li.iconList
                                  i.fa.fa-ambulance
                              li.iconList
                                  i.fa.fa-automobile
                              li.iconList
                                  i.fa.fa-bicycle
                              li.iconList
                                  i.fa.fa-bus
                              li.iconList
                                  i.fa.fa-cab
                              li.iconList
                                  i.fa.fa-car
                              li.iconList
                                  i.fa.fa-fighter-jet
                              li.iconList
                                  i.fa.fa-motorcycle
                              li.iconList
                                  i.fa.fa-plane
                              li.iconList
                                  i.fa.fa-rocket
                              li.iconList
                                  i.fa.fa-ship
                              li.iconList
                                  i.fa.fa-space-shuttle
                              li.iconList
                                  i.fa.fa-subway
                              li.iconList
                                  i.fa.fa-taxi
                              li.iconList
                                  i.fa.fa-train
                              li.iconList
                                  i.fa.fa-truck
                              li.iconList
                                  i.fa.fa-wheelchair
                              li.iconList
                                  i.fa.fa-wheelchair-alt

              .col-12 
                  .card 
                      .card-header 
                          h4 Gender Icons
                      .card-body  
                          ul.iconGroup     
                              li.iconList
                                  i.fa.fa-genderless
                              li.iconList
                                  i.fa.fa-intersex
                              li.iconList
                                  i.fa.fa-mars
                              li.iconList
                                  i.fa.fa-mars-double
                              li.iconList
                                  i.fa.fa-mars-stroke
                              li.iconList
                                  i.fa.fa-mars-stroke-h
                              li.iconList
                                  i.fa.fa-mars-stroke-v
                              li.iconList
                                  i.fa.fa-mercury
                              li.iconList
                                  i.fa.fa-neuter
                              li.iconList
                                  i.fa.fa-transgender
                              li.iconList
                                  i.fa.fa-transgender-alt
                              li.iconList
                                  i.fa.fa-venus
                              li.iconList
                                  i.fa.fa-venus-double
                              li.iconList
                                  i.fa.fa-venus-mars

              .col-12 
                  .card 
                      .card-header 
                          h4 File Type Icons
                      .card-body  
                          ul.iconGroup     
                              li.iconList
                                  i.fa.fa-file
                              li.iconList
                                  i.fa.fa-file-archive-o
                              li.iconList
                                  i.fa.fa-file-audio-o
                              li.iconList
                                  i.fa.fa-file-code-o
                              li.iconList
                                  i.fa.fa-file-excel-o
                              li.iconList
                                  i.fa.fa-file-image-o
                              li.iconList
                                  i.fa.fa-file-movie-o
                              li.iconList
                                  i.fa.fa-file-o
                              li.iconList
                                  i.fa.fa-file-pdf-o
                              li.iconList
                                  i.fa.fa-file-photo-o
                              li.iconList
                                  i.fa.fa-file-picture-o
                              li.iconList
                                  i.fa.fa-file-powerpoint-o
                              li.iconList
                                  i.fa.fa-file-sound-o
                              li.iconList
                                  i.fa.fa-file-text
                              li.iconList
                                  i.fa.fa-file-text-o
                              li.iconList
                                  i.fa.fa-file-video-o
                              li.iconList
                                  i.fa.fa-file-word-o
                              li.iconList
                                  i.fa.fa-file-zip-o

              .col-12 
                  .card 
                      .card-header 
                          h4 Spinner Icons
                      .card-body  
                          ul.iconGroup     
                              li.iconList
                                  i.fa.fa-circle-o-notch
                              li.iconList
                                  i.fa.fa-cog
                              li.iconList
                                  i.fa.fa-gear
                              li.iconList
                                  i.fa.fa-refresh
                              li.iconList
                                  i.fa.fa-spinner


              .col-12 
                  .card 
                      .card-header 
                          h4 Form Control Icons
                      .card-body  
                          ul.iconGroup            
                              li.iconList
                                  i.fa.fa-check-square
                              li.iconList
                                  i.fa.fa-check-square-o
                              li.iconList
                                  i.fa.fa-circle
                              li.iconList
                                  i.fa.fa-circle-o
                              li.iconList
                                  i.fa.fa-dot-circle-o
                              li.iconList
                                  i.fa.fa-minus-square
                              li.iconList
                                  i.fa.fa-minus-square-o
                              li.iconList
                                  i.fa.fa-plus-square
                              li.iconList
                                  i.fa.fa-plus-square-o
                              li.iconList
                                  i.fa.fa-square
                              li.iconList
                                  i.fa.fa-square-o

              .col-12 
                  .card 
                      .card-header 
                          h4 Payment Icons
                      .card-body  
                          ul.iconGroup 
                              li.iconList
                                  i.fa.fa-cc-amex
                              li.iconList
                                  i.fa.fa-cc-diners-club
                              li.iconList
                                  i.fa.fa-cc-discover
                              li.iconList
                                  i.fa.fa-cc-jcb
                              li.iconList
                                  i.fa.fa-cc-mastercard
                              li.iconList
                                  i.fa.fa-cc-paypal
                              li.iconList
                                  i.fa.fa-cc-stripe
                              li.iconList
                                  i.fa.fa-cc-visa
                              li.iconList
                                  i.fa.fa-credit-card
                              li.iconList
                                  i.fa.fa-credit-card-alt
                              li.iconList
                                  i.fa.fa-google-wallet
                              li.iconList
                                  i.fa.fa-paypal

              .col-12 
                  .card 
                      .card-header 
                          h4 Chart Icons
                      .card-body  
                          ul.iconGroup 
                              li.iconList
                                  i.fa.fa-area-chart
                              li.iconList
                                  i.fa.fa-bar-chart
                              li.iconList
                                  i.fa.fa-bar-chart-o
                              li.iconList
                                  i.fa.fa-line-chart
                              li.iconList
                                  i.fa.fa-pie-chart

              
              .col-12 
                  .card 
                      .card-header 
                          h4 Currency Icons
                      .card-body  
                          ul.iconGroup 
                              li.iconList
                                  i.fa.fa-bitcoin
                              li.iconList
                                  i.fa.fa-btc
                              li.iconList
                                  i.fa.fa-cny
                              li.iconList
                                  i.fa.fa-dollar
                              li.iconList
                                  i.fa.fa-eur
                              li.iconList
                                  i.fa.fa-euro
                              li.iconList
                                  i.fa.fa-gbp
                              li.iconList
                                  i.fa.fa-gg
                              li.iconList
                                  i.fa.fa-gg-circle
                              li.iconList
                                  i.fa.fa-ils
                              li.iconList
                                  i.fa.fa-inr
                              li.iconList
                                  i.fa.fa-jpy
                              li.iconList
                                  i.fa.fa-krw
                              li.iconList
                                  i.fa.fa-money
                              li.iconList
                                  i.fa.fa-rmb
                              li.iconList
                                  i.fa.fa-rouble
                              li.iconList
                                  i.fa.fa-rub
                              li.iconList
                                  i.fa.fa-ruble
                              li.iconList
                                  i.fa.fa-rupee
                              li.iconList
                                  i.fa.fa-shekel
                              li.iconList
                                  i.fa.fa-sheqel
                              li.iconList
                                  i.fa.fa-try
                              li.iconList
                                  i.fa.fa-turkish-lira
                              li.iconList
                                  i.fa.fa-usd
                              li.iconList
                                  i.fa.fa-viacoin
                              li.iconList
                                  i.fa.fa-won
                              li.iconList
                                  i.fa.fa-yen

              
              .col-12 
                  .card 
                      .card-header 
                          h4 Text Editor Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-align-center
                              li.iconList
                                  i.fa.fa-align-justify
                              li.iconList
                                  i.fa.fa-align-left
                              li.iconList
                                  i.fa.fa-align-right
                              li.iconList
                                  i.fa.fa-bold
                              li.iconList
                                  i.fa.fa-chain
                              li.iconList
                                  i.fa.fa-chain-broken
                              li.iconList
                                  i.fa.fa-clipboard
                              li.iconList
                                  i.fa.fa-columns
                              li.iconList
                                  i.fa.fa-copy
                              li.iconList
                                  i.fa.fa-cut
                              li.iconList
                                  i.fa.fa-dedent
                              li.iconList
                                  i.fa.fa-eraser
                              li.iconList
                                  i.fa.fa-file
                              li.iconList
                                  i.fa.fa-file-o
                              li.iconList
                                  i.fa.fa-file-text
                              li.iconList
                                  i.fa.fa-file-text-o
                              li.iconList
                                  i.fa.fa-files-o
                              li.iconList
                                  i.fa.fa-floppy-o
                              li.iconList
                                  i.fa.fa-font
                              li.iconList
                                  i.fa.fa-header
                              li.iconList
                                  i.fa.fa-indent
                              li.iconList
                                  i.fa.fa-italic
                              li.iconList
                                  i.fa.fa-link
                              li.iconList
                                  i.fa.fa-list
                              li.iconList
                                  i.fa.fa-list-alt
                              li.iconList
                                  i.fa.fa-list-ol
                              li.iconList
                                  i.fa.fa-list-ul
                              li.iconList
                                  i.fa.fa-outdent
                              li.iconList
                                  i.fa.fa-paperclip
                              li.iconList
                                  i.fa.fa-paragraph
                              li.iconList
                                  i.fa.fa-paste
                              li.iconList
                                  i.fa.fa-repeat
                              li.iconList
                                  i.fa.fa-rotate-left
                              li.iconList
                                  i.fa.fa-rotate-right
                              li.iconList
                                  i.fa.fa-save
                              li.iconList
                                  i.fa.fa-scissors
                              li.iconList
                                  i.fa.fa-strikethrough
                              li.iconList
                                  i.fa.fa-subscript
                              li.iconList
                                  i.fa.fa-superscript
                              li.iconList
                                  i.fa.fa-table
                              li.iconList
                                  i.fa.fa-text-height
                              li.iconList
                                  i.fa.fa-text-width
                              li.iconList
                                  i.fa.fa-th
                              li.iconList
                                  i.fa.fa-th-large
                              li.iconList
                                  i.fa.fa-th-list
                              li.iconList
                                  i.fa.fa-underline
                              li.iconList
                                  i.fa.fa-undo
                              li.iconList
                                  i.fa.fa-unlink


              .col-12 
                  .card 
                      .card-header 
                          h4 Directional Icons
                      .card-body  
                          ul.iconGroup 
                              li.iconList
                                  i.fa.fa-angle-double-down
                              li.iconList
                                  i.fa.fa-angle-double-left
                              li.iconList
                                  i.fa.fa-angle-double-right
                              li.iconList
                                  i.fa.fa-angle-double-up
                              li.iconList
                                  i.fa.fa-angle-down
                              li.iconList
                                  i.fa.fa-angle-left
                              li.iconList
                                  i.fa.fa-angle-right
                              li.iconList
                                  i.fa.fa-angle-up
                              li.iconList
                                  i.fa.fa-arrow-circle-down
                              li.iconList
                                  i.fa.fa-arrow-circle-left
                              li.iconList
                                  i.fa.fa-arrow-circle-o-down
                              li.iconList
                                  i.fa.fa-arrow-circle-o-left
                              li.iconList
                                  i.fa.fa-arrow-circle-o-right
                              li.iconList
                                  i.fa.fa-arrow-circle-o-up
                              li.iconList
                                  i.fa.fa-arrow-circle-right
                              li.iconList
                                  i.fa.fa-arrow-circle-up
                              li.iconList
                                  i.fa.fa-arrow-down
                              li.iconList
                                  i.fa.fa-arrow-left
                              li.iconList
                                  i.fa.fa-arrow-right
                              li.iconList
                                  i.fa.fa-arrow-up
                              li.iconList
                                  i.fa.fa-arrows
                              li.iconList
                                  i.fa.fa-arrows-alt
                              li.iconList
                                  i.fa.fa-arrows-h
                              li.iconList
                                  i.fa.fa-arrows-v
                              li.iconList
                                  i.fa.fa-caret-down
                              li.iconList
                                  i.fa.fa-caret-left
                              li.iconList
                                  i.fa.fa-caret-right
                              li.iconList
                                  i.fa.fa-caret-square-o-down
                              li.iconList
                                  i.fa.fa-caret-square-o-left
                              li.iconList
                                  i.fa.fa-caret-square-o-right
                              li.iconList
                                  i.fa.fa-caret-square-o-up
                              li.iconList
                                  i.fa.fa-caret-up
                              li.iconList
                                  i.fa.fa-chevron-circle-down
                              li.iconList
                                  i.fa.fa-chevron-circle-left
                              li.iconList
                                  i.fa.fa-chevron-circle-right
                              li.iconList
                                  i.fa.fa-chevron-circle-up
                              li.iconList
                                  i.fa.fa-chevron-down
                              li.iconList
                                  i.fa.fa-chevron-left
                              li.iconList
                                  i.fa.fa-chevron-right
                              li.iconList
                                  i.fa.fa-chevron-up
                              li.iconList
                                  i.fa.fa-exchange
                              li.iconList
                                  i.fa.fa-hand-o-down
                              li.iconList
                                  i.fa.fa-hand-o-left
                              li.iconList
                                  i.fa.fa-hand-o-right
                              li.iconList
                                  i.fa.fa-hand-o-up
                              li.iconList
                                  i.fa.fa-long-arrow-down
                              li.iconList
                                  i.fa.fa-long-arrow-left
                              li.iconList
                                  i.fa.fa-long-arrow-right
                              li.iconList
                                  i.fa.fa-long-arrow-up
                              li.iconList
                                  i.fa.fa-toggle-down
                              li.iconList
                                  i.fa.fa-toggle-left
                              li.iconList
                                  i.fa.fa-toggle-right
                              li.iconList
                                  i.fa.fa-toggle-up

              
              .col-12 
                  .card 
                      .card-header 
                          h4 Video Player Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-arrows-alt
                              li.iconList
                                  i.fa.fa-backward
                              li.iconList
                                  i.fa.fa-compress
                              li.iconList
                                  i.fa.fa-eject
                              li.iconList
                                  i.fa.fa-expand
                              li.iconList
                                  i.fa.fa-fast-backward
                              li.iconList
                                  i.fa.fa-fast-forward
                              li.iconList
                                  i.fa.fa-forward
                              li.iconList
                                  i.fa.fa-pause
                              li.iconList
                                  i.fa.fa-pause-circle
                              li.iconList
                                  i.fa.fa-pause-circle-o
                              li.iconList
                                  i.fa.fa-play
                              li.iconList
                                  i.fa.fa-play-circle
                              li.iconList
                                  i.fa.fa-play-circle-o
                              li.iconList
                                  i.fa.fa-random
                              li.iconList
                                  i.fa.fa-step-backward
                              li.iconList
                                  i.fa.fa-step-forward
                              li.iconList
                                  i.fa.fa-stop
                              li.iconList
                                  i.fa.fa-stop-circle
                              li.iconList
                                  i.fa.fa-stop-circle-o
                              li.iconList
                                  i.fa.fa-youtube-play


              .col-12 
                  .card 
                      .card-header 
                          h4 Brand Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-500px
                              li.iconList
                                  i.fa.fa-adn
                              li.iconList
                                  i.fa.fa-amazon
                              li.iconList
                                  i.fa.fa-android
                              li.iconList
                                  i.fa.fa-angellist
                              li.iconList
                                  i.fa.fa-apple
                              li.iconList
                                  i.fa.fa-bandcamp
                              li.iconList
                                  i.fa.fa-behance
                              li.iconList
                                  i.fa.fa-behance-square
                              li.iconList
                                  i.fa.fa-bitbucket
                              li.iconList
                                  i.fa.fa-bitbucket-square
                              li.iconList
                                  i.fa.fa-bitcoin
                              li.iconList
                                  i.fa.fa-black-tie
                              li.iconList
                                  i.fa.fa-bluetooth
                              li.iconList
                                  i.fa.fa-bluetooth-b
                              li.iconList
                                  i.fa.fa-btc
                              li.iconList
                                  i.fa.fa-buysellads
                              li.iconList
                                  i.fa.fa-cc-amex
                              li.iconList
                                  i.fa.fa-cc-diners-club
                              li.iconList
                                  i.fa.fa-cc-discover
                              li.iconList
                                  i.fa.fa-cc-jcb
                              li.iconList
                                  i.fa.fa-cc-mastercard
                              li.iconList
                                  i.fa.fa-cc-paypal
                              li.iconList
                                  i.fa.fa-cc-stripe
                              li.iconList
                                  i.fa.fa-cc-visa
                              li.iconList
                                  i.fa.fa-chrome
                              li.iconList
                                  i.fa.fa-codepen
                              li.iconList
                                  i.fa.fa-codiepie
                              li.iconList
                                  i.fa.fa-connectdevelop
                              li.iconList
                                  i.fa.fa-contao
                              li.iconList
                                  i.fa.fa-css3
                              li.iconList
                                  i.fa.fa-dashcube
                              li.iconList
                                  i.fa.fa-delicious
                              li.iconList
                                  i.fa.fa-deviantart
                              li.iconList
                                  i.fa.fa-digg
                              li.iconList
                                  i.fa.fa-dribbble
                              li.iconList
                                  i.fa.fa-dropbox
                              li.iconList
                                  i.fa.fa-drupal
                              li.iconList
                                  i.fa.fa-edge
                              li.iconList
                                  i.fa.fa-eercast
                              li.iconList
                                  i.fa.fa-empire
                              li.iconList
                                  i.fa.fa-envira
                              li.iconList
                                  i.fa.fa-etsy
                              li.iconList
                                  i.fa.fa-expeditedssl
                              li.iconList
                                  i.fa.fa-fa
                              li.iconList
                                  i.fa.fa-facebook
                              li.iconList
                                  i.fa.fa-facebook-f
                              li.iconList
                                  i.fa.fa-facebook-official
                              li.iconList
                                  i.fa.fa-facebook-square
                              li.iconList
                                  i.fa.fa-firefox
                              li.iconList
                                  i.fa.fa-first-order
                              li.iconList
                                  i.fa.fa-flickr
                              li.iconList
                                  i.fa.fa-font-awesome
                              li.iconList
                                  i.fa.fa-fonticons
                              li.iconList
                                  i.fa.fa-fort-awesome
                              li.iconList
                                  i.fa.fa-forumbee
                              li.iconList
                                  i.fa.fa-foursquare
                              li.iconList
                                  i.fa.fa-free-code-camp
                              li.iconList
                                  i.fa.fa-ge
                              li.iconList
                                  i.fa.fa-get-pocket
                              li.iconList
                                  i.fa.fa-gg
                              li.iconList
                                  i.fa.fa-gg-circle
                              li.iconList
                                  i.fa.fa-git
                              li.iconList
                                  i.fa.fa-git-square
                              li.iconList
                                  i.fa.fa-github
                              li.iconList
                                  i.fa.fa-github-alt
                              li.iconList
                                  i.fa.fa-github-square
                              li.iconList
                                  i.fa.fa-gitlab
                              li.iconList
                                  i.fa.fa-gittip
                              li.iconList
                                  i.fa.fa-glide
                              li.iconList
                                  i.fa.fa-glide-g
                              li.iconList
                                  i.fa.fa-google
                              li.iconList
                                  i.fa.fa-google-plus
                              li.iconList
                                  i.fa.fa-google-plus-circle
                              li.iconList
                                  i.fa.fa-google-plus-official
                              li.iconList
                                  i.fa.fa-google-plus-square
                              li.iconList
                                  i.fa.fa-google-wallet
                              li.iconList
                                  i.fa.fa-gratipay
                              li.iconList
                                  i.fa.fa-grav
                              li.iconList
                                  i.fa.fa-hacker-news
                              li.iconList
                                  i.fa.fa-houzz
                              li.iconList
                                  i.fa.fa-html5
                              li.iconList
                                  i.fa.fa-imdb
                              li.iconList
                                  i.fa.fa-instagram
                              li.iconList
                                  i.fa.fa-internet-explorer
                              li.iconList
                                  i.fa.fa-ioxhost
                              li.iconList
                                  i.fa.fa-joomla
                              li.iconList
                                  i.fa.fa-jsfiddle
                              li.iconList
                                  i.fa.fa-lastfm
                              li.iconList
                                  i.fa.fa-lastfm-square
                              li.iconList
                                  i.fa.fa-leanpub
                              li.iconList
                                  i.fa.fa-linkedin
                              li.iconList
                                  i.fa.fa-linkedin-square
                              li.iconList
                                  i.fa.fa-linode
                              li.iconList
                                  i.fa.fa-linux
                              li.iconList
                                  i.fa.fa-maxcdn
                              li.iconList
                                  i.fa.fa-meanpath
                              li.iconList
                                  i.fa.fa-medium
                              li.iconList
                                  i.fa.fa-meetup
                              li.iconList
                                  i.fa.fa-mixcloud
                              li.iconList
                                  i.fa.fa-modx
                              li.iconList
                                  i.fa.fa-odnoklassniki
                              li.iconList
                                  i.fa.fa-odnoklassniki-square
                              li.iconList
                                  i.fa.fa-opencart
                              li.iconList
                                  i.fa.fa-openid
                              li.iconList
                                  i.fa.fa-opera
                              li.iconList
                                  i.fa.fa-optin-monster
                              li.iconList
                                  i.fa.fa-pagelines
                              li.iconList
                                  i.fa.fa-paypal
                              li.iconList
                                  i.fa.fa-pied-piper
                              li.iconList
                                  i.fa.fa-pied-piper-alt
                              li.iconList
                                  i.fa.fa-pied-piper-pp
                              li.iconList
                                  i.fa.fa-pinterest
                              li.iconList
                                  i.fa.fa-pinterest-p
                              li.iconList
                                  i.fa.fa-pinterest-square
                              li.iconList
                                  i.fa.fa-product-hunt
                              li.iconList
                                  i.fa.fa-qq
                              li.iconList
                                  i.fa.fa-quora
                              li.iconList
                                  i.fa.fa-ra
                              li.iconList
                                  i.fa.fa-ravelry
                              li.iconList
                                  i.fa.fa-rebel
                              li.iconList
                                  i.fa.fa-reddit
                              li.iconList
                                  i.fa.fa-reddit-alien
                              li.iconList
                                  i.fa.fa-reddit-square
                              li.iconList
                                  i.fa.fa-renren
                              li.iconList
                                  i.fa.fa-resistance
                              li.iconList
                                  i.fa.fa-safari
                              li.iconList
                                  i.fa.fa-scribd
                              li.iconList
                                  i.fa.fa-sellsy
                              li.iconList
                                  i.fa.fa-share-alt
                              li.iconList
                                  i.fa.fa-share-alt-square
                              li.iconList
                                  i.fa.fa-shirtsinbulk
                              li.iconList
                                  i.fa.fa-simplybuilt
                              li.iconList
                                  i.fa.fa-skyatlas
                              li.iconList
                                  i.fa.fa-skype
                              li.iconList
                                  i.fa.fa-slack
                              li.iconList
                                  i.fa.fa-slideshare
                              li.iconList
                                  i.fa.fa-snapchat
                              li.iconList
                                  i.fa.fa-snapchat-ghost
                              li.iconList
                                  i.fa.fa-snapchat-square
                              li.iconList
                                  i.fa.fa-soundcloud
                              li.iconList
                                  i.fa.fa-spotify
                              li.iconList
                                  i.fa.fa-stack-exchange
                              li.iconList
                                  i.fa.fa-stack-overflow
                              li.iconList
                                  i.fa.fa-steam
                              li.iconList
                                  i.fa.fa-steam-square
                              li.iconList
                                  i.fa.fa-stumbleupon
                              li.iconList
                                  i.fa.fa-stumbleupon-circle
                              li.iconList
                                  i.fa.fa-superpowers
                              li.iconList
                                  i.fa.fa-telegram
                              li.iconList
                                  i.fa.fa-tencent-weibo
                              li.iconList
                                  i.fa.fa-themeisle
                              li.iconList
                                  i.fa.fa-trello
                              li.iconList
                                  i.fa.fa-tripadvisor
                              li.iconList
                                  i.fa.fa-tumblr
                              li.iconList
                                  i.fa.fa-tumblr-square
                              li.iconList
                                  i.fa.fa-twitch
                              li.iconList
                                  i.fa.fa-twitter
                              li.iconList
                                  i.fa.fa-twitter-square
                              li.iconList
                                  i.fa.fa-usb
                              li.iconList
                                  i.fa.fa-viacoin
                              li.iconList
                                  i.fa.fa-viadeo
                              li.iconList
                                  i.fa.fa-viadeo-square
                              li.iconList
                                  i.fa.fa-vimeo
                              li.iconList
                                  i.fa.fa-vimeo-square
                              li.iconList
                                  i.fa.fa-vine
                              li.iconList
                                  i.fa.fa-vk
                              li.iconList
                                  i.fa.fa-wechat
                              li.iconList
                                  i.fa.fa-weibo
                              li.iconList
                                  i.fa.fa-weixin
                              li.iconList
                                  i.fa.fa-whatsapp
                              li.iconList
                                  i.fa.fa-wikipedia-w
                              li.iconList
                                  i.fa.fa-windows
                              li.iconList
                                  i.fa.fa-wordpress
                              li.iconList
                                  i.fa.fa-wpbeginner
                              li.iconList
                                  i.fa.fa-wpexplorer
                              li.iconList
                                  i.fa.fa-wpforms
                              li.iconList
                                  i.fa.fa-xing
                              li.iconList
                                  i.fa.fa-xing-square
                              li.iconList
                                  i.fa.fa-y-combinator
                              li.iconList
                                  i.fa.fa-y-combinator-square
                              li.iconList
                                  i.fa.fa-yahoo
                              li.iconList
                                  i.fa.fa-yc
                              li.iconList
                                  i.fa.fa-yc-square
                              li.iconList
                                  i.fa.fa-yelp
                              li.iconList
                                  i.fa.fa-yoast
                              li.iconList
                                  i.fa.fa-youtube
                              li.iconList
                                  i.fa.fa-youtube-play
                              li.iconList
                                  i.fa.fa-youtube-square


              .col-12 
                  .card 
                      .card-header 
                          h4 Medical Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.fa.fa-ambulance
                              li.iconList
                                  i.fa.fa-h-square
                              li.iconList
                                  i.fa.fa-heart
                              li.iconList
                                  i.fa.fa-heart-o
                              li.iconList
                                  i.fa.fa-heartbeat
                              li.iconList
                                  i.fa.fa-hospital-o
                              li.iconList
                                  i.fa.fa-medkit
                              li.iconList
                                  i.fa.fa-plus-square
                              li.iconList
                                  i.fa.fa-stethoscope
                              li.iconList
                                  i.fa.fa-user-md
                              li.iconList
                                  i.fa.fa-wheelchair
                              li.iconList
                                  i.fa.fa-wheelchair-alt                

              
      // theme body end

    // footer start 
    +footer    
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile        