doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Themify Icons")
  body

    +header    


    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Themify Icons','icons')
      // breadcrumb end
    
      // theme body start
      .theme-body
        .custom-container.profile-page
          .row      
              .col-12 
                  .card 
                      .card-header 
                          h4 Arrows & Direction Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.ti-arrow-up
                              li.iconList
                                  i.ti-arrow-right
                              li.iconList
                                  i.ti-arrow-left
                              li.iconList
                                  i.ti-arrow-down
                              li.iconList
                                  i.ti-arrows-vertical
                              li.iconList
                                  i.ti-arrows-horizontal
                              li.iconList
                                  i.ti-angle-up
                              li.iconList
                                  i.ti-angle-right
                              li.iconList
                                  i.ti-angle-left
                              li.iconList
                                  i.ti-angle-down
                              li.iconList
                                  i.ti-angle-double-up
                              li.iconList
                                  i.ti-angle-double-right
                              li.iconList
                                  i.ti-angle-double-left
                              li.iconList
                                  i.ti-angle-double-down
                              li.iconList
                                  i.ti-move
                              li.iconList
                                  i.ti-fullscreen
                              li.iconList
                                  i.ti-arrow-top-right
                              li.iconList
                                  i.ti-arrow-top-left
                              li.iconList
                                  i.ti-arrow-circle-up
                              li.iconList
                                  i.ti-arrow-circle-right
                              li.iconList
                                  i.ti-arrow-circle-left
                              li.iconList
                                  i.ti-arrow-circle-down
                              li.iconList
                                  i.ti-arrows-corner
                              li.iconList
                                  i.ti-split-v
                              li.iconList
                                  i.ti-split-v-alt
                              li.iconList
                                  i.ti-split-h
                              li.iconList
                                  i.ti-hand-point-up
                              li.iconList
                                  i.ti-hand-point-right
                              li.iconList
                                  i.ti-hand-point-left
                              li.iconList
                                  i.ti-hand-point-down
                              li.iconList
                                  i.ti-back-right
                              li.iconList
                                  i.ti-back-left
                              li.iconList
                                  i.ti-exchange-vertical
              .col-12 
                  .card 
                      .card-header 
                          h4 Web App Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.ti-wand
                              li.iconList
                                  i.ti-save
                              li.iconList
                                  i.ti-save-alt
                              li.iconList
                                  i.ti-direction
                              li.iconList
                                  i.ti-direction-alt
                              li.iconList
                                  i.ti-user
                              li.iconList
                                  i.ti-link
                              li.iconList
                                  i.ti-unlink
                              li.iconList
                                  i.ti-trash
                              li.iconList
                                  i.ti-target
                              li.iconList
                                  i.ti-tag
                              li.iconList
                                  i.ti-desktop
                              li.iconList
                                  i.ti-tablet
                              li.iconList
                                  i.ti-mobile
                              li.iconList
                                  i.ti-email
                              li.iconList
                                  i.ti-star
                              li.iconList
                                  i.ti-spray
                              li.iconList
                                  i.ti-signal
                              li.iconList
                                  i.ti-shopping-cart
                              li.iconList
                                  i.ti-shopping-cart-full
                              li.iconList
                                  i.ti-settings
                              li.iconList
                                  i.ti-search
                              li.iconList
                                  i.ti-zoom-in
                              li.iconList
                                  i.ti-zoom-out
                              li.iconList
                                  i.ti-cut
                              li.iconList
                                  i.ti-ruler
                              li.iconList
                                  i.ti-ruler-alt-2
                              li.iconList
                                  i.ti-ruler-pencil
                              li.iconList
                                  i.ti-ruler-alt
                              li.iconList
                                  i.ti-bookmark
                              li.iconList
                                  i.ti-bookmark-alt
                              li.iconList
                                  i.ti-reload
                              li.iconList
                                  i.ti-plus
                              li.iconList
                                  i.ti-minus
                              li.iconList
                                  i.ti-close
                              li.iconList
                                  i.ti-pin
                              li.iconList
                                  i.ti-pencil
                              li.iconList
                                  i.ti-pencil-alt
                              li.iconList
                                  i.ti-paint-roller
                              li.iconList
                                  i.ti-paint-bucket
                              li.iconList
                                  i.ti-na
                              li.iconList
                                  i.ti-medall
                              li.iconList
                                  i.ti-medall-alt
                              li.iconList
                                  i.ti-marker
                              li.iconList
                                  i.ti-marker-alt
                              li.iconList
                                  i.ti-lock
                              li.iconList
                                  i.ti-unlock
                              li.iconList
                                  i.ti-location-arrow
                              li.iconList
                                  i.ti-layout
                              li.iconList
                                  i.ti-layers
                              li.iconList
                                  i.ti-layers-alt
                              li.iconList
                                  i.ti-key
                              li.iconList
                                  i.ti-image
                              li.iconList
                                  i.ti-heart
                              li.iconList
                                  i.ti-heart-broken
                              li.iconList
                                  i.ti-hand-stop
                              li.iconList
                                  i.ti-hand-open
                              li.iconList
                                  i.ti-hand-drag
                              li.iconList
                                  i.ti-flag
                              li.iconList
                                  i.ti-flag-alt
                              li.iconList
                                  i.ti-flag-alt-2
                              li.iconList
                                  i.ti-eye
                              li.iconList
                                  i.ti-import
                              li.iconList
                                  i.ti-export
                              li.iconList
                                  i.ti-cup
                              li.iconList
                                  i.ti-crown
                              li.iconList
                                  i.ti-comments
                              li.iconList
                                  i.ti-comment
                              li.iconList
                                  i.ti-comment-alt
                              li.iconList
                                  i.ti-thought
                              li.iconList
                                  i.ti-clip
                              li.iconList
                                  i.ti-check
                              li.iconList
                                  i.ti-check-box
                              li.iconList
                                  i.ti-camera
                              li.iconList
                                  i.ti-announcement
                              li.iconList
                                  i.ti-brush
                              li.iconList
                                  i.ti-brush-alt
                              li.iconList
                                  i.ti-palette
                              li.iconList
                                  i.ti-briefcase
                              li.iconList
                                  i.ti-bolt
                              li.iconList
                                  i.ti-bolt-alt
                              li.iconList
                                  i.ti-blackboard
                              li.iconList
                                  i.ti-bag
                              li.iconList
                                  i.ti-world
                              li.iconList
                                  i.ti-wheelchair
                              li.iconList
                                  i.ti-car
                              li.iconList
                                  i.ti-truck
                              li.iconList
                                  i.ti-timer
                              li.iconList
                                  i.ti-ticket
                              li.iconList
                                  i.ti-thumb-up
                              li.iconList
                                  i.ti-thumb-down
                              li.iconList
                                  i.ti-stats-up
                              li.iconList
                                  i.ti-stats-down
                              li.iconList
                                  i.ti-shine
                              li.iconList
                                  i.ti-shift-right
                              li.iconList
                                  i.ti-shift-left
                              li.iconList
                                  i.ti-shift-right-alt
                              li.iconList
                                  i.ti-shift-left-alt
                              li.iconList
                                  i.ti-shield
                              li.iconList
                                  i.ti-notepad
                              li.iconList
                                  i.ti-server
                              li.iconList
                                  i.ti-pulse
                              li.iconList
                                  i.ti-printer
                              li.iconList
                                  i.ti-power-off
                              li.iconList
                                  i.ti-plug
                              li.iconList
                                  i.ti-pie-chart
                              li.iconList
                                  i.ti-panel
                              li.iconList
                                  i.ti-package
                              li.iconList
                                  i.ti-music
                              li.iconList
                                  i.ti-music-alt
                              li.iconList
                                  i.ti-mouse
                              li.iconList
                                  i.ti-mouse-alt
                              li.iconList
                                  i.ti-money
                              li.iconList
                                  i.ti-microphone
                              li.iconList
                                  i.ti-menu
                              li.iconList
                                  i.ti-menu-alt
                              li.iconList
                                  i.ti-map
                              li.iconList
                                  i.ti-map-alt
                              li.iconList
                                  i.ti-location-pin
                              li.iconList
                                  i.ti-light-bulb
                              li.iconList
                                  i.ti-info
                              li.iconList
                                  i.ti-infinite
                              li.iconList
                                  i.ti-id-badge
                              li.iconList
                                  i.ti-hummer
                              li.iconList
                                  i.ti-home
                              li.iconList
                                  i.ti-help
                              li.iconList
                                  i.ti-headphone
                              li.iconList
                                  i.ti-harddrives
                              li.iconList
                                  i.ti-harddrive
                              li.iconList
                                  i.ti-gift
                              li.iconList
                                  i.ti-game
                              li.iconList
                                  i.ti-filter
                              li.iconList
                                  i.ti-files
                              li.iconList
                                  i.ti-file
                              li.iconList
                                  i.ti-zip
                              li.iconList
                                  i.ti-folder
                              li.iconList
                                  i.ti-envelope
                              li.iconList
                                  i.ti-dashboard
                              li.iconList
                                  i.ti-cloud
                              li.iconList
                                  i.ti-cloud-up
                              li.iconList
                                  i.ti-cloud-down
                              li.iconList
                                  i.ti-clipboard
                              li.iconList
                                  i.ti-calendar
                              li.iconList
                                  i.ti-book
                              li.iconList
                                  i.ti-bell
                              li.iconList
                                  i.ti-basketball
                              li.iconList
                                  i.ti-bar-chart
                              li.iconList
                                  i.ti-bar-chart-alt
                              li.iconList
                                  i.ti-archive
                              li.iconList
                                  i.ti-anchor
                              li.iconList
                                  i.ti-alert
                              li.iconList
                                  i.ti-alarm-clock
                              li.iconList
                                  i.ti-agenda
                              li.iconList
                                  i.ti-write
                              li.iconList
                                  i.ti-wallet
                              li.iconList
                                  i.ti-video-clapper
                              li.iconList
                                  i.ti-video-camera
                              li.iconList
                                  i.ti-vector
                              li.iconList
                                  i.ti-support
                              li.iconList
                                  i.ti-stamp
                              li.iconList
                                  i.ti-slice
                              li.iconList
                                  i.ti-shortcode
                              li.iconList
                                  i.ti-receipt
                              li.iconList
                                  i.ti-pin2
                              li.iconList
                                  i.ti-pin-alt
                              li.iconList
                                  i.ti-pencil-alt2
                              li.iconList
                                  i.ti-eraser
                              li.iconList
                                  i.ti-more
                              li.iconList
                                  i.ti-more-alt
                              li.iconList
                                  i.ti-microphone-alt
                              li.iconList
                                  i.ti-magnet
                              li.iconList
                                  i.ti-line-double
                              li.iconList
                                  i.ti-line-dotted
                              li.iconList
                                  i.ti-line-dashed
                              li.iconList
                                  i.ti-ink-pen
                              li.iconList
                                  i.ti-info-alt
                              li.iconList
                                  i.ti-help-alt
                              li.iconList
                                  i.ti-headphone-alt
                              li.iconList
                                  i.ti-gallery
                              li.iconList
                                  i.ti-face-smile
                              li.iconList
                                  i.ti-face-sad
                              li.iconList
                                  i.ti-credit-card
                              li.iconList
                                  i.ti-comments-smiley
                              li.iconList
                                  i.ti-time
                              li.iconList
                                  i.ti-share
                              li.iconList
                                  i.ti-share-alt
                              li.iconList
                                  i.ti-rocket
                              li.iconList
                                  i.ti-new-window
                              li.iconList
                                  i.ti-rss
                              li.iconList
                                  i.ti-rss-alt


              .col-12 
                  .card 
                      .card-header 
                          h4 Control Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.ti-paragraph
                              li.iconList
                                  i.ti-uppercase
                              li.iconList
                                  i.ti-underline
                              li.iconList
                                  i.ti-text
                              li.iconList
                                  i.ti-Italic
                              li.iconList
                                  i.ti-smallcap
                              li.iconList
                                  i.ti-list
                              li.iconList
                                  i.ti-list-ol
                              li.iconList
                                  i.ti-align-right
                              li.iconList
                                  i.ti-align-left
                              li.iconList
                                  i.ti-align-justify
                              li.iconList
                                  i.ti-align-center
                              li.iconList
                                  i.ti-quote-right
                              li.iconList
                                  i.ti-quote-left

              
              .col-12 
                  .card 
                      .card-header 
                          h4 Text Editor Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.ti-paragraph
                              li.iconList
                                  i.ti-uppercase
                              li.iconList
                                  i.ti-underline
                              li.iconList
                                  i.ti-text
                              li.iconList
                                  i.ti-Italic
                              li.iconList
                                  i.ti-smallcap
                              li.iconList
                                  i.ti-list
                              li.iconList
                                  i.ti-list-ol
                              li.iconList
                                  i.ti-align-right
                              li.iconList
                                  i.ti-align-left
                              li.iconList
                                  i.ti-align-justify
                              li.iconList
                                  i.ti-align-center
                              li.iconList
                                  i.ti-quote-right
                              li.iconList
                                  i.ti-quote-left

              
              .col-12 
                  .card 
                      .card-header 
                          h4 Layout Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.ti-layout-width-full
                              li.iconList
                                  i.ti-layout-width-default
                              li.iconList
                                  i.ti-layout-width-default-alt
                              li.iconList
                                  i.ti-layout-tab
                              li.iconList
                                  i.ti-layout-tab-window
                              li.iconList
                                  i.ti-layout-tab-v
                              li.iconList
                                  i.ti-layout-tab-min
                              li.iconList
                                  i.ti-layout-slider
                              li.iconList
                                  i.ti-layout-slider-alt
                              li.iconList
                                  i.ti-layout-sidebar-right
                              li.iconList
                                  i.ti-layout-sidebar-none
                              li.iconList
                                  i.ti-layout-sidebar-left
                              li.iconList
                                  i.ti-layout-placeholder
                              li.iconList
                                  i.ti-layout-menu
                              li.iconList
                                  i.ti-layout-menu-v
                              li.iconList
                                  i.ti-layout-menu-separated
                              li.iconList
                                  i.ti-layout-menu-full
                              li.iconList
                                  i.ti-layout-media-right
                              li.iconList
                                  i.ti-layout-media-right-alt
                              li.iconList
                                  i.ti-layout-media-overlay
                              li.iconList
                                  i.ti-layout-media-overlay-alt
                              li.iconList
                                  i.ti-layout-media-overlay-alt-2
                              li.iconList
                                  i.ti-layout-media-left
                              li.iconList
                                  i.ti-layout-media-left-alt
                              li.iconList
                                  i.ti-layout-media-center
                              li.iconList
                                  i.ti-layout-media-center-alt
                              li.iconList
                                  i.ti-layout-list-thumb
                              li.iconList
                                  i.ti-layout-list-thumb-alt
                              li.iconList
                                  i.ti-layout-list-post
                              li.iconList
                                  i.ti-layout-list-large-image
                              li.iconList
                                  i.ti-layout-line-solid
                              li.iconList
                                  i.ti-layout-grid4
                              li.iconList
                                  i.ti-layout-grid3
                              li.iconList
                                  i.ti-layout-grid2
                              li.iconList
                                  i.ti-layout-grid2-thumb
                              li.iconList
                                  i.ti-layout-cta-right
                              li.iconList
                                  i.ti-layout-cta-left
                              li.iconList
                                  i.ti-layout-cta-center
                              li.iconList
                                  i.ti-layout-cta-btn-right
                              li.iconList
                                  i.ti-layout-cta-btn-left
                              li.iconList
                                  i.ti-layout-column4
                              li.iconList
                                  i.ti-layout-column3
                              li.iconList
                                  i.ti-layout-column2
                              li.iconList
                                  i.ti-layout-accordion-separated
                              li.iconList
                                  i.ti-layout-accordion-merged
                              li.iconList
                                  i.ti-layout-accordion-list
                              li.iconList
                                  i.ti-widgetized
                              li.iconList
                                  i.ti-widget
                              li.iconList
                                  i.ti-widget-alt
                              li.iconList
                                  i.ti-view-list
                              li.iconList
                                  i.ti-view-list-alt
                              li.iconList
                                  i.ti-view-grid
                              li.iconList
                                  i.ti-upload
                              li.iconList
                                  i.ti-download
                              li.iconList
                                  i.ti-loop
                              li.iconList
                                  i.ti-layout-sidebar-2
                              li.iconList
                                  i.ti-layout-grid4-alt
                              li.iconList
                                  i.ti-layout-grid3-alt
                              li.iconList
                                  i.ti-layout-grid2-alt
                              li.iconList
                                  i.ti-layout-column4-alt
                              li.iconList
                                  i.ti-layout-column3-alt
                              li.iconList
                                  i.ti-layout-column2-alt

              
              .col-12 
                  .card 
                      .card-header 
                          h4 Brand Icons
                      .card-body  
                          ul.iconGroup
                              li.iconList
                                  i.ti-flickr
                              li.iconList
                                  i.ti-flickr-alt
                              li.iconList
                                  i.ti-instagram
                              li.iconList
                                  i.ti-google
                              li.iconList
                                  i.ti-github
                              li.iconList
                                  i.ti-facebook
                              li.iconList
                                  i.ti-dropbox
                              li.iconList
                                  i.ti-dropbox-alt
                              li.iconList
                                  i.ti-dribbble
                              li.iconList
                                  i.ti-apple
                              li.iconList
                                  i.ti-android
                              li.iconList
                                  i.ti-yahoo
                              li.iconList
                                  i.ti-trello
                              li.iconList
                                  i.ti-stack-overflow
                              li.iconList
                                  i.ti-soundcloud
                              li.iconList
                                  i.ti-sharethis
                              li.iconList
                                  i.ti-sharethis-alt
                              li.iconList
                                  i.ti-reddit
                              li.iconList
                                  i.ti-microsoft
                              li.iconList
                                  i.ti-microsoft-alt
                              li.iconList
                                  i.ti-linux
                              li.iconList
                                  i.ti-jsfiddle
                              li.iconList
                                  i.ti-joomla
                              li.iconList
                                  i.ti-html5
                              li.iconList
                                  i.ti-css3
                              li.iconList
                                  i.ti-drupal
                              li.iconList
                                  i.ti-wordpress
                              li.iconList
                                  i.ti-tumblr
                              li.iconList
                                  i.ti-tumblr-alt
                              li.iconList
                                  i.ti-skype
                              li.iconList
                                  i.ti-youtube
                              li.iconList
                                  i.ti-vimeo
                              li.iconList
                                  i.ti-vimeo-alt
                              li.iconList
                                  i.ti-twitter
                              li.iconList
                                  i.ti-twitter-alt
                              li.iconList
                                  i.ti-linkedin
                              li.iconList
                                  i.ti-pinterest
                              li.iconList
                                  i.ti-pinterest-alt
                              li.iconList
                                  i.ti-themify-logo
                              li.iconList
                                  i.ti-themify-favicon
                              li.iconList
                                  i.ti-themify-favicon-alt
              
      // theme body end

    // footer start 
    +footer    
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile        