-var lightbox = true ;
doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Theme Class")
  body

    +header

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('avtar','theme class')
      // breadcrumb end

      // theme body start
      .theme-body
        .custom-container
          .row         
            .col-md-6 
              .card
                .card-header 
                  h4 background color
                .card-body
                  ul.cdxclass-exa
                    li
                      | .bg-primary
                    li
                      | .bg-secondary
                    li
                      | .bg-success
                    li
                      | .bg-info
                    li
                      | .bg-warning
                    li
                      | .bg-info
                    li
                      | .bg-danger
                    li
                      | .bg-light
                    li
                      | .bg-dark
            .col-md-6 
              .card
                .card-header 
                  h4 text color
                .card-body
                  ul.cdxclass-exa
                    li
                      | .text-primary
                    li
                      | .text-secondary
                    li
                      | .text-success
                    li
                      | .text-info
                    li
                      | .text-warning
                    li
                      | .text-info
                    li
                      | .text-danger
                    li
                      | .text-light
                    li
                      | .text-dark
            .col-md-6 
              .card
                .card-header 
                  h4 button
                .card-body
                  ul.cdxclass-exa
                    li
                      | .btn.btn-primary
                    li
                      | .btn.btn-secondary
                    li
                      | .btn.btn-success
                    li
                      | .btn.btn-info
                    li
                      | .btn.btn-warning
                    li
                      | .btn.btn-info
                    li
                      | .btn.btn-danger
                    li
                      | .btn.btn-light
                    li
                      | .btn.btn-dark
            .col-md-6 
              .card
                .card-header 
                  h4 button outline
                .card-body
                  ul.cdxclass-exa
                    li
                      | .btn.btn-outline-primary
                    li
                      | .btn.btn-outline-secondary
                    li
                      | .btn.btn-outline-success
                    li
                      | .btn.btn-outline-info
                    li
                      | .btn.btn-outline-warning
                    li
                      | .btn.btn-outline-info
                    li
                      | .btn.btn-outline-danger
                    li
                      | .btn.btn-outline-light
                    li
                      | .btn.btn-outline-dark
            .col-md-6 
              .card
                .card-header 
                  h4 alert
                .card-body
                  ul.cdxclass-exa
                    li
                      | .alert.alert-primary
                    li
                      | .alert.alert-secondary
                    li
                      | .alert.alert-success
                    li
                      | .alert.alert-info
                    li
                      | .alert.alert-warning
                    li
                      | .alert.alert-info
                    li
                      | .alert.alert-danger
                    li
                      | .alert.alert-light
                    li
                      | .alert.alert-dark
            .col-md-6 
              .card
                .card-header 
                  h4 alert outline
                .card-body
                  ul.cdxclass-exa
                    li
                      | .alert.alert-outline-primary
                    li
                      | .alert.alert-outline-secondary
                    li
                      | .alert.alert-outline-success
                    li
                      | .alert.alert-outline-info
                    li
                      | .alert.alert-outline-warning
                    li
                      | .alert.alert-outline-info
                    li
                      | .alert.alert-outline-danger
                    li
                      | .alert.alert-outline-light
                    li
                      | .alert.alert-outline-dark
            .col-md-6 
              .card
                .card-header 
                  h4 badge
                .card-body
                  ul.cdxclass-exa
                    li
                      | .badge.badge-primary
                    li
                      | .badge.badge-secondary
                    li
                      | .badge.badge-success
                    li
                      | .badge.badge-info
                    li
                      | .badge.badge-warning
                    li
                      | .badge.badge-info
                    li
                      | .badge.badge-danger
                    li
                      | .badge.badge-light
                    li
                      | .badge.badge-dark
            .col-md-6 
              .card
                .card-header 
                  h4 badge rounded
                .card-body
                  ul.cdxclass-exa
                    li
                      | .badge.badge-primary.rounded-pill
                    li
                      | .badge.badge-secondary.rounded-pill
                    li
                      | .badge.badge-success.rounded-pill
                    li
                      | .badge.badge-info.rounded-pill
                    li
                      | .badge.badge-warning.rounded-pill
                    li
                      | .badge.badge-info.rounded-pill
                    li
                      | .badge.badge-danger.rounded-pill
                    li
                      | .badge.badge-light.rounded-pill
                    li
                      | .badge.badge-dark.rounded-pill
            .col-md-6 
              .card
                .card-header 
                  h4 margrin left
                .card-body
                  ul.cdxclass-exa
                    li
                      | .ml-5
                    li
                      | .ml-10
                    li
                      | .ml-15
                    li
                      | .ml-20
                    li
                      | .ml-25
                    li
                      | .ml-30
                    li
                      | .ml-35
                    li
                      | .ml-40
                    li
                      | .ml-45
                    li
                      | .ml-50
                    li
                      | .ml-55
                    li
                      | .ml-60
                    li
                      | .ml-65
                    li
                      | .ml-70
                    li
                      | .ml-75
                    li
                      | .ml-80
                    li
                      | .ml-85
                    li
                      | .ml-90
                    li
                      | .ml-95
                    li
                      | .ml-100
            .col-md-6 
              .card
                .card-header 
                  h4 margrin right
                .card-body
                  ul.cdxclass-exa
                    li
                      | .mr-5
                    li
                      | .mr-10
                    li
                      | .mr-15
                    li
                      | .mr-20
                    li
                      | .mr-25
                    li
                      | .mr-30
                    li
                      | .mr-35
                    li
                      | .mr-40
                    li
                      | .mr-45
                    li
                      | .mr-50
                    li
                      | .mr-55
                    li
                      | .mr-60
                    li
                      | .mr-65
                    li
                      | .mr-70
                    li
                      | .mr-75
                    li
                      | .mr-80
                    li
                      | .mr-85
                    li
                      | .mr-90
                    li
                      | .mr-95
                    li
                      | .mr-100
            .col-md-6 
              .card
                .card-header 
                  h4 margrin top
                .card-body
                  ul.cdxclass-exa
                    li
                      | .mt-5
                    li
                      | .mt-10
                    li
                      | .mt-15
                    li
                      | .mt-20
                    li
                      | .mt-25
                    li
                      | .mt-30
                    li
                      | .mt-35
                    li
                      | .mt-40
                    li
                      | .mt-45
                    li
                      | .mt-50
                    li
                      | .mt-55
                    li
                      | .mt-60
                    li
                      | .mt-65
                    li
                      | .mt-70
                    li
                      | .mt-75
                    li
                      | .mt-80
                    li
                      | .mt-85
                    li
                      | .mt-90
                    li
                      | .mt-95
                    li
                      | .mt-100  
            .col-md-6 
              .card
                .card-header 
                  h4 margrin bottom
                .card-body
                  ul.cdxclass-exa
                    li
                      | .mb-5
                    li
                      | .mb-10
                    li
                      | .mb-15
                    li
                      | .mb-20
                    li
                      | .mb-25
                    li
                      | .mb-30
                    li
                      | .mb-35
                    li
                      | .mb-40
                    li
                      | .mb-45
                    li
                      | .mb-50
                    li
                      | .mb-55
                    li
                      | .mb-60
                    li
                      | .mb-65
                    li
                      | .mb-70
                    li
                      | .mb-75
                    li
                      | .mb-80
                    li
                      | .mb-85
                    li
                      | .mb-90
                    li
                      | .mb-95
                    li
                      | .mb-100  
            .col-md-6 
              .card
                .card-header 
                  h4 margrin verticale
                .card-body
                  ul.cdxclass-exa
                    li
                      | .my-5
                    li
                      | .my-10
                    li
                      | .my-15
                    li
                      | .my-20
                    li
                      | .my-25
                    li
                      | .my-30
                    li
                      | .my-35
                    li
                      | .my-40
                    li
                      | .my-45
                    li
                      | .my-50
                    li
                      | .my-55
                    li
                      | .my-60
                    li
                      | .my-65
                    li
                      | .my-70
                    li
                      | .my-75
                    li
                      | .my-80
                    li
                      | .my-85
                    li
                      | .my-90
                    li
                      | .my-95
                    li
                      | .my-100 
            .col-md-6 
              .card
                .card-header 
                  h4 margrin horizontal
                .card-body
                  ul.cdxclass-exa
                    li
                      | .mx-5
                    li
                      | .mx-10
                    li
                      | .mx-15
                    li
                      | .mx-20
                    li
                      | .mx-25
                    li
                      | .mx-30
                    li
                      | .mx-35
                    li
                      | .mx-40
                    li
                      | .mx-45
                    li
                      | .mx-50
                    li
                      | .mx-55
                    li
                      | .mx-60
                    li
                      | .mx-65
                    li
                      | .mx-70
                    li
                      | .mx-75
                    li
                      | .mx-80
                    li
                      | .mx-85
                    li
                      | .mx-90
                    li
                      | .mx-95
                    li
                      | .mx-100
            .col-md-6 
              .card
                .card-header 
                  h4 padding left
                .card-body
                  ul.cdxclass-exa
                    li
                      | .pl-5
                    li
                      | .pl-10
                    li
                      | .pl-15
                    li
                      | .pl-20
                    li
                      | .pl-25
                    li
                      | .pl-30
                    li
                      | .pl-35
                    li
                      | .pl-40
                    li
                      | .pl-45
                    li
                      | .pl-50
                    li
                      | .pl-55
                    li
                      | .pl-60
                    li
                      | .pl-65
                    li
                      | .pl-70
                    li
                      | .pl-75
                    li
                      | .pl-80
                    li
                      | .pl-85
                    li
                      | .pl-90
                    li
                      | .pl-95
                    li
                      | .pl-100
            .col-md-6 
              .card
                .card-header 
                  h4 padding right
                .card-body
                  ul.cdxclass-exa
                    li
                      | .pr-5
                    li
                      | .pr-10
                    li
                      | .pr-15
                    li
                      | .pr-20
                    li
                      | .pr-25
                    li
                      | .pr-30
                    li
                      | .pr-35
                    li
                      | .pr-40
                    li
                      | .pr-45
                    li
                      | .pr-50
                    li
                      | .pr-55
                    li
                      | .pr-60
                    li
                      | .pr-65
                    li
                      | .pr-70
                    li
                      | .pr-75
                    li
                      | .pr-80
                    li
                      | .pr-85
                    li
                      | .pr-90
                    li
                      | .pr-95
                    li
                      | .pr-100
            .col-md-6 
              .card
                .card-header 
                  h4 padding top
                .card-body
                  ul.cdxclass-exa
                    li
                      | .pt-5
                    li
                      | .pt-10
                    li
                      | .pt-15
                    li
                      | .pt-20
                    li
                      | .pt-25
                    li
                      | .pt-30
                    li
                      | .pt-35
                    li
                      | .pt-40
                    li
                      | .pt-45
                    li
                      | .pt-50
                    li
                      | .pt-55
                    li
                      | .pt-60
                    li
                      | .pt-65
                    li
                      | .pt-70
                    li
                      | .pt-75
                    li
                      | .pt-80
                    li
                      | .pt-85
                    li
                      | .pt-90
                    li
                      | .pt-95
                    li
                      | .pt-100  
            .col-md-6 
              .card
                .card-header 
                  h4 padding bottom
                .card-body
                  ul.cdxclass-exa
                    li
                      | .pb-5
                    li
                      | .pb-10
                    li
                      | .pb-15
                    li
                      | .pb-20
                    li
                      | .pb-25
                    li
                      | .pb-30
                    li
                      | .pb-35
                    li
                      | .pb-40
                    li
                      | .pb-45
                    li
                      | .pb-50
                    li
                      | .pb-55
                    li
                      | .pb-60
                    li
                      | .pb-65
                    li
                      | .pb-70
                    li
                      | .pb-75
                    li
                      | .pb-80
                    li
                      | .pb-85
                    li
                      | .pb-90
                    li
                      | .pb-95
                    li
                      | .pb-100  
            .col-md-6 
              .card
                .card-header 
                  h4 padding verticale
                .card-body
                  ul.cdxclass-exa
                    li
                      | .py-5
                    li
                      | .py-10
                    li
                      | .py-15
                    li
                      | .py-20
                    li
                      | .py-25
                    li
                      | .py-30
                    li
                      | .py-35
                    li
                      | .py-40
                    li
                      | .py-45
                    li
                      | .py-50
                    li
                      | .py-55
                    li
                      | .py-60
                    li
                      | .py-65
                    li
                      | .py-70
                    li
                      | .py-75
                    li
                      | .py-80
                    li
                      | .py-85
                    li
                      | .py-90
                    li
                      | .py-95
                    li
                      | .py-100 
            .col-md-6 
              .card
                .card-header 
                  h4 padding horizontal
                .card-body
                  ul.cdxclass-exa
                    li
                      | .px-5
                    li
                      | .px-10
                    li
                      | .px-15
                    li
                      | .px-20
                    li
                      | .px-25
                    li
                      | .px-30
                    li
                      | .px-35
                    li
                      | .px-40
                    li
                      | .px-45
                    li
                      | .px-50
                    li
                      | .px-55
                    li
                      | .px-60
                    li
                      | .px-65
                    li
                      | .px-70
                    li
                      | .px-75
                    li
                      | .px-80
                    li
                      | .px-85
                    li
                      | .px-90
                    li
                      | .px-95
                    li
                      | .px-100
      // theme body end
    
    // footer start 
    +footer
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile