doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Feather icons")
  body

    +header    
    

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Feather Icons','icons')
      // breadcrumb end

      // theme body start
      .theme-body
        .custom-container.profile-page
          .row     
              .col-12 
                  .card 
                      .card-body  
                          ul.iconGroup.svg                           
                              li.iconList
                                  span.activity
                                  i(data-feather="activity" )
                              li.iconList
                                  span.airplay
                                  i(data-feather="airplay")

                              li.iconList
                                  span.alert-circle
                                  i(data-feather="alert-circle")

                              li.iconList
                                  span.alert-octagon
                                  i(data-feather="alert-octagon")

                              li.iconList
                                  span.alert-triangle
                                  i(data-feather="alert-triangle")

                              li.iconList
                                  span.align-center
                                  i(data-feather="align-center")

                              li.iconList
                                  span.align-justify
                                  i(data-feather="align-justify")

                              li.iconList
                                  span.align-left
                                  i(data-feather="align-left")

                              li.iconList
                                  span.align-right
                                  i(data-feather="align-right")

                              li.iconList
                                  span.anchor
                                  i(data-feather="anchor")

                              li.iconList
                                  span.aperture
                                  i(data-feather="aperture")

                              li.iconList
                                  span.archive
                                  i(data-feather="archive")

                              li.iconList
                                  span.arrow-down-circle
                                  i(data-feather="arrow-down-circle")

                              li.iconList
                                  span.arrow-down-left
                                  i(data-feather="arrow-down-left")

                              li.iconList
                                  span.arrow-down-right
                                  i(data-feather="arrow-down-right")

                              li.iconList
                                  span.arrow-down
                                  i(data-feather="arrow-down")

                              li.iconList
                                  span.arrow-left-circle
                                  i(data-feather="arrow-left-circle")

                              li.iconList
                                  span.arrow-left
                                  i(data-feather="arrow-left")

                              li.iconList
                                  span.arrow-right-circle
                                  i(data-feather="arrow-right-circle")

                              li.iconList
                                  span.arrow-right
                                  i(data-feather="arrow-right")

                              li.iconList
                                  span.arrow-up-circle
                                  i(data-feather="arrow-up-circle")

                              li.iconList
                                  span.arrow-up-left
                                  i(data-feather="arrow-up-left")

                              li.iconList
                                  span.arrow-up-right
                                  i(data-feather="arrow-up-right")

                              li.iconList
                                  span.arrow-up
                                  i(data-feather="arrow-up")

                              li.iconList
                                  span.at-sign
                                  i(data-feather="at-sign")

                              li.iconList
                                  span.award
                                  i(data-feather="award")

                              li.iconList
                                  span.bar-chart-2
                                  i(data-feather="bar-chart-2")

                              li.iconList
                                  span.bar-chart
                                  i(data-feather="bar-chart")

                              li.iconList
                                  span.battery-charging
                                  i(data-feather="battery-charging")

                              li.iconList
                                  span.battery
                                  i(data-feather="battery")

                              li.iconList
                                  span.bell-off
                                  i(data-feather="bell-off")

                              li.iconList
                                  span.bell
                                  i(data-feather="bell")

                              li.iconList
                                  span.bluetooth
                                  i(data-feather="bluetooth")

                              li.iconList
                                  span.bold
                                  i(data-feather="bold")

                              li.iconList
                                  span.book-open
                                  i(data-feather="book-open")

                              li.iconList
                                  span.book
                                  i(data-feather="book")

                              li.iconList
                                  span.bookmark
                                  i(data-feather="bookmark")

                              li.iconList
                                  span.box
                                  i(data-feather="box")

                              li.iconList
                                  span.briefcase
                                  i(data-feather="briefcase")

                              li.iconList
                                  span.calendar
                                  i(data-feather="calendar")

                              li.iconList
                                  span.camera-off
                                  i(data-feather="camera-off")

                              li.iconList
                                  span.camera
                                  i(data-feather="camera")

                              li.iconList
                                  span.cast
                                  i(data-feather="cast")

                              li.iconList
                                  span.check-circle
                                  i(data-feather="check-circle")

                              li.iconList
                                  span.check-square
                                  i(data-feather="check-square")

                              li.iconList
                                  span.check
                                  i(data-feather="check")

                              li.iconList
                                  span.chevron-down
                                  i(data-feather="chevron-down")

                              li.iconList
                                  span.chevron-left
                                  i(data-feather="chevron-left")

                              li.iconList
                                  span.chevron-right
                                  i(data-feather="chevron-right")

                              li.iconList
                                  span.chevron-up
                                  i(data-feather="chevron-up")

                              li.iconList
                                  span.chevrons-down
                                  i(data-feather="chevrons-down")

                              li.iconList
                                  span.chevrons-left
                                  i(data-feather="chevrons-left")

                              li.iconList
                                  span.chevrons-right
                                  i(data-feather="chevrons-right")

                              li.iconList
                                  span.chevrons-up
                                  i(data-feather="chevrons-up")

                              li.iconList
                                  span.chrome
                                  i(data-feather="chrome")

                              li.iconList
                                  span.circle
                                  i(data-feather="circle")

                              li.iconList
                                  span.clipboard
                                  i(data-feather="clipboard")

                              li.iconList
                                  span.clock
                                  i(data-feather="clock")

                              li.iconList
                                  span.cloud-drizzle
                                  i(data-feather="cloud-drizzle")

                              li.iconList
                                  span.cloud-lightning
                                  i(data-feather="cloud-lightning")

                              li.iconList
                                  span.cloud-off
                                  i(data-feather="cloud-off")

                              li.iconList
                                  span.cloud-rain
                                  i(data-feather="cloud-rain")

                              li.iconList
                                  span.cloud-snow
                                  i(data-feather="cloud-snow")

                              li.iconList
                                  span.cloud
                                  i(data-feather="cloud")

                              li.iconList
                                  span.code
                                  i(data-feather="code")

                              li.iconList
                                  span.codepen
                                  i(data-feather="codepen")

                              li.iconList
                                  span.codesandbox
                                  i(data-feather="codesandbox")

                              li.iconList
                                  span.coffee
                                  i(data-feather="coffee")

                              li.iconList
                                  span.columns
                                  i(data-feather="columns")

                              li.iconList
                                  span.command
                                  i(data-feather="command")

                              li.iconList
                                  span.compass
                                  i(data-feather="compass")

                              li.iconList
                                  span.copy
                                  i(data-feather="copy")

                              li.iconList
                                  span.corner-down-left
                                  i(data-feather="corner-down-left")

                              li.iconList
                                  span.corner-down-right
                                  i(data-feather="corner-down-right")

                              li.iconList
                                  span.corner-left-down
                                  i(data-feather="corner-left-down")

                              li.iconList
                                  span.corner-left-up
                                  i(data-feather="corner-left-up")

                              li.iconList
                                  span.corner-right-down
                                  i(data-feather="corner-right-down")

                              li.iconList
                                  span.corner-right-up
                                  i(data-feather="corner-right-up")

                              li.iconList
                                  span.corner-up-left
                                  i(data-feather="corner-up-left")

                              li.iconList
                                  span.corner-up-right
                                  i(data-feather="corner-up-right")

                              li.iconList
                                  span.cpu
                                  i(data-feather="cpu")

                              li.iconList
                                  span.credit-card
                                  i(data-feather="credit-card")

                              li.iconList
                                  span.crop
                                  i(data-feather="crop")

                              li.iconList
                                  span.crosshair
                                  i(data-feather="crosshair")

                              li.iconList
                                  span.database
                                  i(data-feather="database")

                              li.iconList
                                  span.delete
                                  i(data-feather="delete")

                              li.iconList
                                  span.disc
                                  i(data-feather="disc")

                              li.iconList
                                  span.divide-circle
                                  i(data-feather="divide-circle")

                              li.iconList
                                  span.divide-square
                                  i(data-feather="divide-square")

                              li.iconList
                                  span.divide
                                  i(data-feather="divide")

                              li.iconList
                                  span.dollar-sign
                                  i(data-feather="dollar-sign")

                              li.iconList
                                  span.download-cloud
                                  i(data-feather="download-cloud")

                              li.iconList
                                  span.download
                                  i(data-feather="download")

                              li.iconList
                                  span.dribbble
                                  i(data-feather="dribbble")

                              li.iconList
                                  span.droplet
                                  i(data-feather="droplet")

                              li.iconList
                                  span.edit-2
                                  i(data-feather="edit-2")

                              li.iconList
                                  span.edit-3
                                  i(data-feather="edit-3")

                              li.iconList
                                  span.edit
                                  i(data-feather="edit")

                              li.iconList
                                  span.external-link
                                  i(data-feather="external-link")

                              li.iconList
                                  span.eye-off
                                  i(data-feather="eye-off")

                              li.iconList
                                  span.eye
                                  i(data-feather="eye")

                              li.iconList
                                  span.facebook
                                  i(data-feather="facebook")

                              li.iconList
                                  span.fast-forward
                                  i(data-feather="fast-forward")

                              li.iconList
                                  span.feather
                                  i(data-feather="feather")

                              li.iconList
                                  span.figma
                                  i(data-feather="figma")

                              li.iconList
                                  span.file-minus
                                  i(data-feather="file-minus")

                              li.iconList
                                  span.file-plus
                                  i(data-feather="file-plus")

                              li.iconList
                                  span.file-text
                                  i(data-feather="file-text")

                              li.iconList
                                  span.file
                                  i(data-feather="file")

                              li.iconList
                                  span.film
                                  i(data-feather="film")

                              li.iconList
                                  span.filter
                                  i(data-feather="filter")

                              li.iconList
                                  span.flag
                                  i(data-feather="flag")

                              li.iconList
                                  span.folder-minus
                                  i(data-feather="folder-minus")

                              li.iconList
                                  span.folder-plus
                                  i(data-feather="folder-plus")

                              li.iconList
                                  span.folder
                                  i(data-feather="folder")

                              li.iconList
                                  span.framer
                                  i(data-feather="framer")

                              li.iconList
                                  span.frown
                                  i(data-feather="frown")

                              li.iconList
                                  span.gift
                                  i(data-feather="gift")

                              li.iconList
                                  span.git-branch
                                  i(data-feather="git-branch")

                              li.iconList
                                  span.git-commit
                                  i(data-feather="git-commit")

                              li.iconList
                                  span.git-merge
                                  i(data-feather="git-merge")

                              li.iconList
                                  span.git-pull-request
                                  i(data-feather="git-pull-request")

                              li.iconList
                                  span.github
                                  i(data-feather="github")

                              li.iconList
                                  span.gitlab
                                  i(data-feather="gitlab")

                              li.iconList
                                  span.globe
                                  i(data-feather="globe")

                              li.iconList
                                  span.grid
                                  i(data-feather="grid")

                              li.iconList
                                  span.hard-drive
                                  i(data-feather="hard-drive")

                              li.iconList
                                  span.hash
                                  i(data-feather="hash")

                              li.iconList
                                  span.headphones
                                  i(data-feather="headphones")

                              li.iconList
                                  span.heart
                                  i(data-feather="heart")

                              li.iconList
                                  span.help-circle
                                  i(data-feather="help-circle")

                              li.iconList
                                  span.hexagon
                                  i(data-feather="hexagon")

                              li.iconList
                                  span.home
                                  i(data-feather="home")

                              li.iconList
                                  span.image
                                  i(data-feather="image")

                              li.iconList
                                  span.inbox
                                  i(data-feather="inbox")

                              li.iconList
                                  span.info
                                  i(data-feather="info")

                              li.iconList
                                  span.instagram
                                  i(data-feather="instagram")

                              li.iconList
                                  span.italic
                                  i(data-feather="italic")

                              li.iconList
                                  span.key
                                  i(data-feather="key")

                              li.iconList
                                  span.layers
                                  i(data-feather="layers")

                              li.iconList
                                  span.layout
                                  i(data-feather="layout")

                              li.iconList
                                  span.life-buoy
                                  i(data-feather="life-buoy")

                              li.iconList
                                  span.link-2
                                  i(data-feather="link-2")

                              li.iconList
                                  span.link
                                  i(data-feather="link")

                              li.iconList
                                  span.linkedin
                                  i(data-feather="linkedin")

                              li.iconList
                                  span.list
                                  i(data-feather="list")

                              li.iconList
                                  span.loader
                                  i(data-feather="loader")

                              li.iconList
                                  span.lock
                                  i(data-feather="lock")

                              li.iconList
                                  span.log-in
                                  i(data-feather="log-in")

                              li.iconList
                                  span.log-out
                                  i(data-feather="log-out")

                              li.iconList
                                  span.mail
                                  i(data-feather="mail")

                              li.iconList
                                  span.map-pin
                                  i(data-feather="map-pin")

                              li.iconList
                                  span.map
                                  i(data-feather="map")

                              li.iconList
                                  span.maximize-2
                                  i(data-feather="maximize-2")

                              li.iconList
                                  span.maximize
                                  i(data-feather="maximize")

                              li.iconList
                                  span.meh
                                  i(data-feather="meh")

                              li.iconList
                                  span.menu
                                  i(data-feather="menu")

                              li.iconList
                                  span.message-circle
                                  i(data-feather="message-circle")

                              li.iconList
                                  span.message-square
                                  i(data-feather="message-square")

                              li.iconList
                                  span.mic-off
                                  i(data-feather="mic-off")

                              li.iconList
                                  span.mic
                                  i(data-feather="mic")

                              li.iconList
                                  span.minimize-2
                                  i(data-feather="minimize-2")

                              li.iconList
                                  span.minimize
                                  i(data-feather="minimize")

                              li.iconList
                                  span.minus-circle
                                  i(data-feather="minus-circle")

                              li.iconList
                                  span.minus-square
                                  i(data-feather="minus-square")

                              li.iconList
                                  span.minus
                                  i(data-feather="minus")

                              li.iconList
                                  span.monitor
                                  i(data-feather="monitor")

                              li.iconList
                                  span.moon
                                  i(data-feather="moon")

                              li.iconList
                                  span.more-horizontal
                                  i(data-feather="more-horizontal")

                              li.iconList
                                  span.more-vertical
                                  i(data-feather="more-vertical")

                              li.iconList
                                  span.mouse-pointer
                                  i(data-feather="mouse-pointer")

                              li.iconList
                                  span.move
                                  i(data-feather="move")

                              li.iconList
                                  span.music
                                  i(data-feather="music")

                              li.iconList
                                  span.navigation-2
                                  i(data-feather="navigation-2")

                              li.iconList
                                  span.navigation
                                  i(data-feather="navigation")

                              li.iconList
                                  span.octagon
                                  i(data-feather="octagon")

                              li.iconList
                                  span.package
                                  i(data-feather="package")

                              li.iconList
                                  span.paperclip
                                  i(data-feather="paperclip")

                              li.iconList
                                  span.pause-circle
                                  i(data-feather="pause-circle")

                              li.iconList
                                  span.pause
                                  i(data-feather="pause")

                              li.iconList
                                  span.pen-tool
                                  i(data-feather="pen-tool")

                              li.iconList
                                  span.percent
                                  i(data-feather="percent")

                              li.iconList
                                  span.phone-call
                                  i(data-feather="phone-call")

                              li.iconList
                                  span.phone-forwarded
                                  i(data-feather="phone-forwarded")

                              li.iconList
                                  span.phone-incoming
                                  i(data-feather="phone-incoming")

                              li.iconList
                                  span.phone-missed
                                  i(data-feather="phone-missed")

                              li.iconList
                                  span.phone-off
                                  i(data-feather="phone-off")

                              li.iconList
                                  span.phone-outgoing
                                  i(data-feather="phone-outgoing")

                              li.iconList
                                  span.phone
                                  i(data-feather="phone")

                              li.iconList
                                  span.pie-chart
                                  i(data-feather="pie-chart")

                              li.iconList
                                  span.play-circle
                                  i(data-feather="play-circle")

                              li.iconList
                                  span.play
                                  i(data-feather="play")

                              li.iconList
                                  span.plus-circle
                                  i(data-feather="plus-circle")

                              li.iconList
                                  span.plus-square
                                  i(data-feather="plus-square")

                              li.iconList
                                  span.plus
                                  i(data-feather="plus")

                              li.iconList
                                  span.pocket
                                  i(data-feather="pocket")

                              li.iconList
                                  span.power
                                  i(data-feather="power")

                              li.iconList
                                  span.printer
                                  i(data-feather="printer")

                              li.iconList
                                  span.radio
                                  i(data-feather="radio")

                              li.iconList
                                  span.refresh-ccw
                                  i(data-feather="refresh-ccw")

                              li.iconList
                                  span.refresh-cw
                                  i(data-feather="refresh-cw")

                              li.iconList
                                  span.repeat
                                  i(data-feather="repeat")

                              li.iconList
                                  span.rewind
                                  i(data-feather="rewind")

                              li.iconList
                                  span.rotate-ccw
                                  i(data-feather="rotate-ccw")

                              li.iconList
                                  span.rotate-cw
                                  i(data-feather="rotate-cw")

                              li.iconList
                                  span.rss
                                  i(data-feather="rss")

                              li.iconList
                                  span.save
                                  i(data-feather="save")

                              li.iconList
                                  span.scissors
                                  i(data-feather="scissors")

                              li.iconList
                                  span.search
                                  i(data-feather="search")

                              li.iconList
                                  span.send
                                  i(data-feather="send")

                              li.iconList
                                  span.server
                                  i(data-feather="server")

                              li.iconList
                                  span.settings
                                  i(data-feather="settings")

                              li.iconList
                                  span.share-2
                                  i(data-feather="share-2")

                              li.iconList
                                  span.share
                                  i(data-feather="share")

                              li.iconList
                                  span.shield-off
                                  i(data-feather="shield-off")

                              li.iconList
                                  span.shield
                                  i(data-feather="shield")

                              li.iconList
                                  span.shopping-bag
                                  i(data-feather="shopping-bag")

                              li.iconList
                                  span.shopping-cart
                                  i(data-feather="shopping-cart")

                              li.iconList
                                  span.shuffle
                                  i(data-feather="shuffle")

                              li.iconList
                                  span.sidebar
                                  i(data-feather="sidebar")

                              li.iconList
                                  span.skip-back
                                  i(data-feather="skip-back")

                              li.iconList
                                  span.skip-forward
                                  i(data-feather="skip-forward")

                              li.iconList
                                  span.slack
                                  i(data-feather="slack")

                              li.iconList
                                  span.slash
                                  i(data-feather="slash")

                              li.iconList
                                  span.sliders
                                  i(data-feather="sliders")

                              li.iconList
                                  span.smartphone
                                  i(data-feather="smartphone")

                              li.iconList
                                  span.smile
                                  i(data-feather="smile")

                              li.iconList
                                  span.speaker
                                  i(data-feather="speaker")

                              li.iconList
                                  span.square
                                  i(data-feather="square")

                              li.iconList
                                  span.star
                                  i(data-feather="star")

                              li.iconList
                                  span.stop-circle
                                  i(data-feather="stop-circle")

                              li.iconList
                                  span.sun
                                  i(data-feather="sun")

                              li.iconList
                                  span.sunrise
                                  i(data-feather="sunrise")

                              li.iconList
                                  span.sunset
                                  i(data-feather="sunset")

                              li.iconList
                                  span.tablet
                                  i(data-feather="tablet")

                              li.iconList
                                  span.tag
                                  i(data-feather="tag")

                              li.iconList
                                  span.target
                                  i(data-feather="target")

                              li.iconList
                                  span.terminal
                                  i(data-feather="terminal")

                              li.iconList
                                  span.thermometer
                                  i(data-feather="thermometer")

                              li.iconList
                                  span.thumbs-down
                                  i(data-feather="thumbs-down")

                              li.iconList
                                  span.thumbs-up
                                  i(data-feather="thumbs-up")

                              li.iconList
                                  span.toggle-left
                                  i(data-feather="toggle-left")

                              li.iconList
                                  span.toggle-right
                                  i(data-feather="toggle-right")

                              li.iconList
                                  span.tool
                                  i(data-feather="tool")

                              li.iconList
                                  span.trash-2
                                  i(data-feather="trash-2")

                              li.iconList
                                  span.trash
                                  i(data-feather="trash")

                              li.iconList
                                  span.trello
                                  i(data-feather="trello")

                              li.iconList
                                  span.trending-down
                                  i(data-feather="trending-down")

                              li.iconList
                                  span.trending-up
                                  i(data-feather="trending-up")

                              li.iconList
                                  span.triangle
                                  i(data-feather="triangle")

                              li.iconList
                                  span.truck
                                  i(data-feather="truck")

                              li.iconList
                                  span.tv
                                  i(data-feather="tv")

                              li.iconList
                                  span.twitch
                                  i(data-feather="twitch")

                              li.iconList
                                  span.twitter
                                  i(data-feather="twitter")

                              li.iconList
                                  span.type
                                  i(data-feather="type")

                              li.iconList
                                  span.umbrella
                                  i(data-feather="umbrella")

                              li.iconList
                                  span.underline
                                  i(data-feather="underline")

                              li.iconList
                                  span.unlock
                                  i(data-feather="unlock")

                              li.iconList
                                  span.upload-cloud
                                  i(data-feather="upload-cloud")

                              li.iconList
                                  span.upload
                                  i(data-feather="upload")

                              li.iconList
                                  span.user-check
                                  i(data-feather="user-check")

                              li.iconList
                                  span.user-minus
                                  i(data-feather="user-minus")

                              li.iconList
                                  span.user-plus
                                  i(data-feather="user-plus")

                              li.iconList
                                  span.user-x
                                  i(data-feather="user-x")

                              li.iconList
                                  span.user
                                  i(data-feather="user")

                              li.iconList
                                  span.users
                                  i(data-feather="users")

                              li.iconList
                                  span.video-off
                                  i(data-feather="video-off")

                              li.iconList
                                  span.video
                                  i(data-feather="video")

                              li.iconList
                                  span.voicemail
                                  i(data-feather="voicemail")

                              li.iconList
                                  span.volume-1
                                  i(data-feather="volume-1")

                              li.iconList
                                  span.volume-2
                                  i(data-feather="volume-2")

                              li.iconList
                                  span.volume-x
                                  i(data-feather="volume-x")

                              li.iconList
                                  span.volume
                                  i(data-feather="volume")

                              li.iconList
                                  span.watch
                                  i(data-feather="watch")

                              li.iconList
                                  span.wifi-off
                                  i(data-feather="wifi-off")

                              li.iconList
                                  span.wifi
                                  i(data-feather="wifi")

                              li.iconList
                                  span.wind
                                  i(data-feather="wind")

                              li.iconList
                                  span.x-circle
                                  i(data-feather="x-circle")

                              li.iconList
                                  span.x-octagon
                                  i(data-feather="x-octagon")

                              li.iconList
                                  span.x-square
                                  i(data-feather="x-square")

                              li.iconList
                                  span.x
                                  i(data-feather="x")

                              li.iconList
                                  span.youtube
                                  i(data-feather="youtube")

                              li.iconList
                                  span.zap-off
                                  i(data-feather="zap-off")

                              li.iconList
                                  span.zap
                                  i(data-feather="zap")

                              li.iconList
                                  span.zoom-in
                                  i(data-feather="zoom-in")

                              li.iconList
                                  span.zoom-out
                                  i(data-feather="zoom-out")
      // theme body end

    // footer start 
    +footer    
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile        