-var lightbox = true ;
doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("avtar")
  body

    +header

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('avtar','element')
      // breadcrumb end

      // theme body start
      .theme-body
        .custom-container
          .row         
            .col-12 
              .card
                .card-header 
                  h4 default avtar
                .card-body
                  ul.avtar-list
                    li
                      img.img-fluid(src="../assets/images/avtar/1.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/2.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/3.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/4.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/5.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/6.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/7.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/8.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/9.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/10.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/11.jpg" alt="")
                    li
                      img.img-fluid(src="../assets/images/avtar/12.jpg" alt="")                    
            .col-12 
              .card
                .card-header 
                  h4 rounded avtar
                .card-body
                  ul.avtar-list
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/1.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/2.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/3.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/4.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/5.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/6.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/7.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/8.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/9.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/10.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/11.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/12.jpg" alt="")
            .col-12 
              .card
                .card-header 
                  h4 sizing avtar
                .card-body
                  ul.avtar-list
                    li
                      img.img-fluid(src="../assets/images/avtar/1.jpg" alt="")
                    li
                      img.img-fluid.w-90(src="../assets/images/avtar/2.jpg" alt="")
                    li
                      img.img-fluid.w-85(src="../assets/images/avtar/3.jpg" alt="")
                    li
                      img.img-fluid.w-80(src="../assets/images/avtar/4.jpg" alt="")
                    li
                      img.img-fluid.w-75(src="../assets/images/avtar/5.jpg" alt="")
                    li
                      img.img-fluid.w-70(src="../assets/images/avtar/6.jpg" alt="")
                    li
                      img.img-fluid.w-65(src="../assets/images/avtar/7.jpg" alt="")
                    li
                      img.img-fluid.w-60(src="../assets/images/avtar/8.jpg" alt="")
                    li
                      img.img-fluid.w-55(src="../assets/images/avtar/9.jpg" alt="")
                    li
                      img.img-fluid.w-50(src="../assets/images/avtar/10.jpg" alt="")
                    li
                      img.img-fluid.w-45(src="../assets/images/avtar/11.jpg" alt="")
                    li
                      img.img-fluid.w-40(src="../assets/images/avtar/12.jpg" alt="") 
            .col-12 
              .card
                .card-header 
                  h4 group avtar
                .card-body
                  ul.avtar-list.group-avtar
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/1.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/2.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/3.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/4.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/5.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/6.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/7.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/8.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/9.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/10.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/11.jpg" alt="")
                    li
                      img.img-fluid.rounded-50(src="../assets/images/avtar/12.jpg" alt="")                   
      // theme body end
    
    // footer start 
    +footer
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile