doctype html
html(lang="en")
  
  include ../components/mixinfiles
  +headerfile("switch")

  body
    
    +header

    .themebody-wrap


      // breadcrumb start
      +codexbreadcrumb('switch','Input Element')
      // breadcrumb end
     
      
      // theme body start     
      .theme-body.codex-calendar
        .container-fluid
          .row
            .col-md-6
              .card
                .card-header
                  h4 square switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.switch-primary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.switch-secondary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.switch-success
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.switch-info
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.switch-warning
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.switch-danger
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.switch-light
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.switch-dark
                      input(type="checkbox" checked)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 rounded switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.round.switch-primary
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-secondary
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-success
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-info
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-warning
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-danger
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-light
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.round.switch-dark
                      input(type="checkbox" checked)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 Uncheked square switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.switch-primary
                      input(type="checkbox")
                      span.switch-btn                   
                    label.switch.switch-secondary
                      input(type="checkbox")
                      span.switch-btn                   
                    label.switch.switch-success
                      input(type="checkbox")
                      span.switch-btn                   
                    label.switch.switch-info
                      input(type="checkbox")
                      span.switch-btn                   
                    label.switch.switch-warning
                      input(type="checkbox")
                      span.switch-btn                   
                    label.switch.switch-danger
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.switch-light
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.switch-dark
                      input(type="checkbox")
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 Uncheked rounded switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.round.switch-primary
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-secondary
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-success
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-info
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-warning
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-danger
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-light
                      input(type="checkbox")
                      span.switch-btn
                    label.switch.round.switch-dark
                      input(type="checkbox")
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 disabled square switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.switch-primary
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.switch-secondary
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.switch-success
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.switch-info
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.switch-warning
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.switch-danger
                      input(type="checkbox" checked disabled)
                      span.switch-btn
                    label.switch.switch-light
                      input(type="checkbox" checked disabled)
                      span.switch-btn
                    label.switch.switch-dark
                      input(type="checkbox" checked disabled)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 disabled rounded switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.round.switch-primary
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.round.switch-secondary
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.round.switch-success
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.round.switch-info
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.round.switch-warning
                      input(type="checkbox" checked disabled)
                      span.switch-btn                   
                    label.switch.round.switch-danger
                      input(type="checkbox" checked disabled)
                      span.switch-btn
                    label.switch.round.switch-light
                      input(type="checkbox" checked disabled)
                      span.switch-btn
                    label.switch.round.switch-dark
                      input(type="checkbox" checked disabled)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 square switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.outline-primary
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.outline-secondary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-success
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-info
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-warning
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-danger
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.outline-light
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.outline-dark
                      input(type="checkbox" checked)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 rounded switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.outline-primary.round
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-secondary.round
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-success.round
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-info.round
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-warning.round
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.outline-danger.round
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.outline-light.round
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.outline-dark.round
                      input(type="checkbox" checked)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 square switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.with-icon.switch-primary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.switch-secondary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.switch-success
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.switch-info
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.switch-warning
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.switch-danger
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.with-icon.switch-light
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.with-icon.switch-dark
                      input(type="checkbox" checked)
                      span.switch-btn
            .col-md-6
              .card
                .card-header
                  h4 square switch
                .card-body
                  .d-flex.flex-wrap.gap-3                   
                    label.switch.with-icon.round.switch-primary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.round.switch-secondary
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.round.switch-success
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.round.switch-info
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.round.switch-warning
                      input(type="checkbox" checked)
                      span.switch-btn                   
                    label.switch.with-icon.round.switch-danger
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.with-icon.round.switch-light
                      input(type="checkbox" checked)
                      span.switch-btn
                    label.switch.with-icon.round.switch-dark
                      input(type="checkbox" checked)
                      span.switch-btn           
      // theme body end
    
    // footer start
    +footer
    // footer end

    // back to top start //
    +taptop
    // back to top end //

    +footerfile   