-var flagicon  = true ;
doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("flag icons")
  body

    +header    

    .themebody-wrap

      // breadcrumb start
      +codexbreadcrumb('Feather Icons','icons')
      // breadcrumb end

      // theme body start
      .theme-body
        .custom-container.profile-page
          .row     
            .col-12 
              .card 
                .card-body 
                  ul.iconGroup                  
                    li.iconList
                      i.flag-icon.flag-icon-abw
                    li.iconList
                      i.flag-icon.flag-icon-afg
                    li.iconList
                      i.flag-icon.flag-icon-ago
                    li.iconList
                      i.flag-icon.flag-icon-aia
                    li.iconList
                      i.flag-icon.flag-icon-ala
                    li.iconList
                      i.flag-icon.flag-icon-alb
                    li.iconList
                      i.flag-icon.flag-icon-and
                    li.iconList
                      i.flag-icon.flag-icon-are
                    li.iconList
                      i.flag-icon.flag-icon-arg
                    li.iconList
                      i.flag-icon.flag-icon-arm
                    li.iconList
                      i.flag-icon.flag-icon-asm
                    li.iconList
                      i.flag-icon.flag-icon-ata
                    li.iconList
                      i.flag-icon.flag-icon-atf
                    li.iconList
                      i.flag-icon.flag-icon-atg
                    li.iconList
                      i.flag-icon.flag-icon-aus
                    li.iconList
                      i.flag-icon.flag-icon-aut
                    li.iconList
                      i.flag-icon.flag-icon-aze
                    li.iconList
                      i.flag-icon.flag-icon-bdi
                    li.iconList
                      i.flag-icon.flag-icon-bel
                    li.iconList
                      i.flag-icon.flag-icon-ben
                    li.iconList
                      i.flag-icon.flag-icon-bes
                    li.iconList
                      i.flag-icon.flag-icon-bfa
                    li.iconList
                      i.flag-icon.flag-icon-bgd
                    li.iconList
                      i.flag-icon.flag-icon-bgr
                    li.iconList
                      i.flag-icon.flag-icon-bhr
                    li.iconList
                      i.flag-icon.flag-icon-bhs
                    li.iconList
                      i.flag-icon.flag-icon-bih
                    li.iconList
                      i.flag-icon.flag-icon-blm
                    li.iconList
                      i.flag-icon.flag-icon-blr
                    li.iconList
                      i.flag-icon.flag-icon-blz
                    li.iconList
                      i.flag-icon.flag-icon-bmu
                    li.iconList
                      i.flag-icon.flag-icon-bol
                    li.iconList
                      i.flag-icon.flag-icon-bra
                    li.iconList
                      i.flag-icon.flag-icon-brb
                    li.iconList
                      i.flag-icon.flag-icon-brn
                    li.iconList
                      i.flag-icon.flag-icon-btn
                    li.iconList
                      i.flag-icon.flag-icon-bvt
                    li.iconList
                      i.flag-icon.flag-icon-bwa
                    li.iconList
                      i.flag-icon.flag-icon-caf
                    li.iconList
                      i.flag-icon.flag-icon-can
                    li.iconList
                      i.flag-icon.flag-icon-cat
                    li.iconList
                      i.flag-icon.flag-icon-cck
                    li.iconList
                      i.flag-icon.flag-icon-che
                    li.iconList
                      i.flag-icon.flag-icon-chl
                    li.iconList
                      i.flag-icon.flag-icon-chn
                    li.iconList
                      i.flag-icon.flag-icon-civ
                    li.iconList
                      i.flag-icon.flag-icon-cmr
                    li.iconList
                      i.flag-icon.flag-icon-cod
                    li.iconList
                      i.flag-icon.flag-icon-cog
                    li.iconList
                      i.flag-icon.flag-icon-cok
                    li.iconList
                      i.flag-icon.flag-icon-col
                    li.iconList
                      i.flag-icon.flag-icon-com
                    li.iconList
                      i.flag-icon.flag-icon-cpv
                    li.iconList
                      i.flag-icon.flag-icon-cri
                    li.iconList
                      i.flag-icon.flag-icon-cub
                    li.iconList
                      i.flag-icon.flag-icon-cuw
                    li.iconList
                      i.flag-icon.flag-icon-cxr
                    li.iconList
                      i.flag-icon.flag-icon-cym
                    li.iconList
                      i.flag-icon.flag-icon-cyp
                    li.iconList
                      i.flag-icon.flag-icon-cze
                    li.iconList
                      i.flag-icon.flag-icon-deu
                    li.iconList
                      i.flag-icon.flag-icon-dji
                    li.iconList
                      i.flag-icon.flag-icon-dma
                    li.iconList
                      i.flag-icon.flag-icon-dnk
                    li.iconList
                      i.flag-icon.flag-icon-dom
                    li.iconList
                      i.flag-icon.flag-icon-dza
                    li.iconList
                      i.flag-icon.flag-icon-ecu
                    li.iconList
                      i.flag-icon.flag-icon-egy
                    li.iconList
                      i.flag-icon.flag-icon-eng
                    li.iconList
                      i.flag-icon.flag-icon-eri
                    li.iconList
                      i.flag-icon.flag-icon-esh
                    li.iconList
                      i.flag-icon.flag-icon-esp
                    li.iconList
                      i.flag-icon.flag-icon-est
                    li.iconList
                      i.flag-icon.flag-icon-eth
                    li.iconList
                      i.flag-icon.flag-icon-eun
                    li.iconList
                      i.flag-icon.flag-icon-fin
                    li.iconList
                      i.flag-icon.flag-icon-fji
                    li.iconList
                      i.flag-icon.flag-icon-flk
                    li.iconList
                      i.flag-icon.flag-icon-fra
                    li.iconList
                      i.flag-icon.flag-icon-fro
                    li.iconList
                      i.flag-icon.flag-icon-fsm
                    li.iconList
                      i.flag-icon.flag-icon-gab
                    li.iconList
                      i.flag-icon.flag-icon-gbr
                    li.iconList
                      i.flag-icon.flag-icon-geo
                    li.iconList
                      i.flag-icon.flag-icon-ggy
                    li.iconList
                      i.flag-icon.flag-icon-gha
                    li.iconList
                      i.flag-icon.flag-icon-gib
                    li.iconList
                      i.flag-icon.flag-icon-gin
                    li.iconList
                      i.flag-icon.flag-icon-glp
                    li.iconList
                      i.flag-icon.flag-icon-gmb
                    li.iconList
                      i.flag-icon.flag-icon-gnb
                    li.iconList
                      i.flag-icon.flag-icon-gnq
                    li.iconList
                      i.flag-icon.flag-icon-grc
                    li.iconList
                      i.flag-icon.flag-icon-grd
                    li.iconList
                      i.flag-icon.flag-icon-grl
                    li.iconList
                      i.flag-icon.flag-icon-gtm
                    li.iconList
                      i.flag-icon.flag-icon-guf
                    li.iconList
                      i.flag-icon.flag-icon-gum
                    li.iconList
                      i.flag-icon.flag-icon-guy
                    li.iconList
                      i.flag-icon.flag-icon-hkg
                    li.iconList
                      i.flag-icon.flag-icon-hmd
                    li.iconList
                      i.flag-icon.flag-icon-hnd
                    li.iconList
                      i.flag-icon.flag-icon-hrv
                    li.iconList
                      i.flag-icon.flag-icon-hti
                    li.iconList
                      i.flag-icon.flag-icon-hun
                    li.iconList
                      i.flag-icon.flag-icon-idn
                    li.iconList
                      i.flag-icon.flag-icon-imn
                    li.iconList
                      i.flag-icon.flag-icon-ind
                    li.iconList
                      i.flag-icon.flag-icon-iot
                    li.iconList
                      i.flag-icon.flag-icon-irl
                    li.iconList
                      i.flag-icon.flag-icon-irn
                    li.iconList
                      i.flag-icon.flag-icon-irq
                    li.iconList
                      i.flag-icon.flag-icon-isl
                    li.iconList
                      i.flag-icon.flag-icon-isr
                    li.iconList
                      i.flag-icon.flag-icon-ita
                    li.iconList
                      i.flag-icon.flag-icon-jam
                    li.iconList
                      i.flag-icon.flag-icon-jey
                    li.iconList
                      i.flag-icon.flag-icon-jor
                    li.iconList
                      i.flag-icon.flag-icon-jpn
                    li.iconList
                      i.flag-icon.flag-icon-kaz
                    li.iconList
                      i.flag-icon.flag-icon-ken
                    li.iconList
                      i.flag-icon.flag-icon-kgz
                    li.iconList
                      i.flag-icon.flag-icon-khm
                    li.iconList
                      i.flag-icon.flag-icon-kir
                    li.iconList
                      i.flag-icon.flag-icon-kna
                    li.iconList
                      i.flag-icon.flag-icon-kor
                    li.iconList
                      i.flag-icon.flag-icon-kos
                    li.iconList
                      i.flag-icon.flag-icon-kwt
                    li.iconList
                      i.flag-icon.flag-icon-lao
                    li.iconList
                      i.flag-icon.flag-icon-lbn
                    li.iconList
                      i.flag-icon.flag-icon-lbr
                    li.iconList
                      i.flag-icon.flag-icon-lby
                    li.iconList
                      i.flag-icon.flag-icon-lca
                    li.iconList
                      i.flag-icon.flag-icon-lie
                    li.iconList
                      i.flag-icon.flag-icon-lka
                    li.iconList
                      i.flag-icon.flag-icon-lso
                    li.iconList
                      i.flag-icon.flag-icon-ltu
                    li.iconList
                      i.flag-icon.flag-icon-lux
                    li.iconList
                      i.flag-icon.flag-icon-lva
                    li.iconList
                      i.flag-icon.flag-icon-mac
                    li.iconList
                      i.flag-icon.flag-icon-maf
                    li.iconList
                      i.flag-icon.flag-icon-mar
                    li.iconList
                      i.flag-icon.flag-icon-mco
                    li.iconList
                      i.flag-icon.flag-icon-mda
                    li.iconList
                      i.flag-icon.flag-icon-mdg
                    li.iconList
                      i.flag-icon.flag-icon-mdv
                    li.iconList
                      i.flag-icon.flag-icon-mex
                    li.iconList
                      i.flag-icon.flag-icon-mhl
                    li.iconList
                      i.flag-icon.flag-icon-mkd
                    li.iconList
                      i.flag-icon.flag-icon-mli
                    li.iconList
                      i.flag-icon.flag-icon-mlt
                    li.iconList
                      i.flag-icon.flag-icon-mmr
                    li.iconList
                      i.flag-icon.flag-icon-mne
                    li.iconList
                      i.flag-icon.flag-icon-mng
                    li.iconList
                      i.flag-icon.flag-icon-mnp
                    li.iconList
                      i.flag-icon.flag-icon-moz
                    li.iconList
                      i.flag-icon.flag-icon-mrt
                    li.iconList
                      i.flag-icon.flag-icon-msr
                    li.iconList
                      i.flag-icon.flag-icon-mtq
                    li.iconList
                      i.flag-icon.flag-icon-mus
                    li.iconList
                      i.flag-icon.flag-icon-mwi
                    li.iconList
                      i.flag-icon.flag-icon-mys
                    li.iconList
                      i.flag-icon.flag-icon-myt
                    li.iconList
                      i.flag-icon.flag-icon-nam
                    li.iconList
                      i.flag-icon.flag-icon-ncl
                    li.iconList
                      i.flag-icon.flag-icon-ner
                    li.iconList
                      i.flag-icon.flag-icon-nfk
                    li.iconList
                      i.flag-icon.flag-icon-nga
                    li.iconList
                      i.flag-icon.flag-icon-nic
                    li.iconList
                      i.flag-icon.flag-icon-nir
                    li.iconList
                      i.flag-icon.flag-icon-niu
                    li.iconList
                      i.flag-icon.flag-icon-nld
                    li.iconList
                      i.flag-icon.flag-icon-nor
                    li.iconList
                      i.flag-icon.flag-icon-npl
                    li.iconList
                      i.flag-icon.flag-icon-nru
                    li.iconList
                      i.flag-icon.flag-icon-nzl
                    li.iconList
                      i.flag-icon.flag-icon-omn
                    li.iconList
                      i.flag-icon.flag-icon-pak
                    li.iconList
                      i.flag-icon.flag-icon-pan
                    li.iconList
                      i.flag-icon.flag-icon-pcn
                    li.iconList
                      i.flag-icon.flag-icon-per
                    li.iconList
                      i.flag-icon.flag-icon-phl
                    li.iconList
                      i.flag-icon.flag-icon-plw
                    li.iconList
                      i.flag-icon.flag-icon-png
                    li.iconList
                      i.flag-icon.flag-icon-pol
                    li.iconList
                      i.flag-icon.flag-icon-pri
                    li.iconList
                      i.flag-icon.flag-icon-prk
                    li.iconList
                      i.flag-icon.flag-icon-prt
                    li.iconList
                      i.flag-icon.flag-icon-pry
                    li.iconList
                      i.flag-icon.flag-icon-pse
                    li.iconList
                      i.flag-icon.flag-icon-pyf
                    li.iconList
                      i.flag-icon.flag-icon-qat
                    li.iconList
                      i.flag-icon.flag-icon-reu
                    li.iconList
                      i.flag-icon.flag-icon-rou
                    li.iconList
                      i.flag-icon.flag-icon-rus
                    li.iconList
                      i.flag-icon.flag-icon-rwa
                    li.iconList
                      i.flag-icon.flag-icon-sau
                    li.iconList
                      i.flag-icon.flag-icon-sco
                    li.iconList
                      i.flag-icon.flag-icon-sdn
                    li.iconList
                      i.flag-icon.flag-icon-sen
                    li.iconList
                      i.flag-icon.flag-icon-sgp
                    li.iconList
                      i.flag-icon.flag-icon-sgs
                    li.iconList
                      i.flag-icon.flag-icon-shn
                    li.iconList
                      i.flag-icon.flag-icon-sjm
                    li.iconList
                      i.flag-icon.flag-icon-slb
                    li.iconList
                      i.flag-icon.flag-icon-sle
                    li.iconList
                      i.flag-icon.flag-icon-slv
                    li.iconList
                      i.flag-icon.flag-icon-smr
                    li.iconList
                      i.flag-icon.flag-icon-som
                    li.iconList
                      i.flag-icon.flag-icon-spm
                    li.iconList
                      i.flag-icon.flag-icon-srb
                    li.iconList
                      i.flag-icon.flag-icon-ssd
                    li.iconList
                      i.flag-icon.flag-icon-stp
                    li.iconList
                      i.flag-icon.flag-icon-sun
                    li.iconList
                      i.flag-icon.flag-icon-sur
                    li.iconList
                      i.flag-icon.flag-icon-svk
                    li.iconList
                      i.flag-icon.flag-icon-svn
                    li.iconList
                      i.flag-icon.flag-icon-swe
                    li.iconList
                      i.flag-icon.flag-icon-swz
                    li.iconList
                      i.flag-icon.flag-icon-sxm
                    li.iconList
                      i.flag-icon.flag-icon-syc
                    li.iconList
                      i.flag-icon.flag-icon-syr
                    li.iconList
                      i.flag-icon.flag-icon-tca
                    li.iconList
                      i.flag-icon.flag-icon-tcd
                    li.iconList
                      i.flag-icon.flag-icon-tgo
                    li.iconList
                      i.flag-icon.flag-icon-tha
                    li.iconList
                      i.flag-icon.flag-icon-tjk
                    li.iconList
                      i.flag-icon.flag-icon-tkl
                    li.iconList
                      i.flag-icon.flag-icon-tkm
                    li.iconList
                      i.flag-icon.flag-icon-tls
                    li.iconList
                      i.flag-icon.flag-icon-ton
                    li.iconList
                      i.flag-icon.flag-icon-tto
                    li.iconList
                      i.flag-icon.flag-icon-tun
                    li.iconList
                      i.flag-icon.flag-icon-tur
                    li.iconList
                      i.flag-icon.flag-icon-tuv
                    li.iconList
                      i.flag-icon.flag-icon-twn
                    li.iconList
                      i.flag-icon.flag-icon-tza
                    li.iconList
                      i.flag-icon.flag-icon-uga
                    li.iconList
                      i.flag-icon.flag-icon-ukr
                    li.iconList
                      i.flag-icon.flag-icon-umi
                    li.iconList
                      i.flag-icon.flag-icon-ury
                    li.iconList
                      i.flag-icon.flag-icon-usa
                    li.iconList
                      i.flag-icon.flag-icon-uzb
                    li.iconList
                      i.flag-icon.flag-icon-vat
                    li.iconList
                      i.flag-icon.flag-icon-vct
                    li.iconList
                      i.flag-icon.flag-icon-ven
                    li.iconList
                      i.flag-icon.flag-icon-vgb
                    li.iconList
                      i.flag-icon.flag-icon-vir
                    li.iconList
                      i.flag-icon.flag-icon-vnm
                    li.iconList
                      i.flag-icon.flag-icon-vut
                    li.iconList
                      i.flag-icon.flag-icon-wal
                    li.iconList
                      i.flag-icon.flag-icon-wlf
                    li.iconList
                      i.flag-icon.flag-icon-wsm
                    li.iconList
                      i.flag-icon.flag-icon-yem
                    li.iconList
                      i.flag-icon.flag-icon-zaf
                    li.iconList
                      i.flag-icon.flag-icon-zmb
                    li.iconList
                      i.flag-icon.flag-icon-zwe

      // theme body end

    // footer start 
    +footer    
    // footer end

    // back to top start //
    +taptop
    // back to top end //
    
    +footerfile        