doctype html
html(lang="en")
  include ../components/mixinfiles
  +headerfile("Forgot Password")      
  body 

    // Forgotpassword start
    .auth-main
      .codex-authbox
        .auth-header
          .codex-brand
            a(href="index.html")
              img.img-fluid.light-logo(src="../assets/images/logo/logo.png" alt="")
              img.img-fluid.dark-logo(src="../assets/images/logo/dark-logo.png" alt="")
          h3 forgot password ?                 
          p Enter Your Email And We&apos;ll Send You A Link To Reset 
            br
            |  Your Password.
        form(action="#")
          .form-group.mb-0
            label.form-label email
            input.form-control(type="password" placeholder="Enter your email")
          .form-group.mb-0                   
            button.btn.btn-primary(type='submit')
              i.fa.fa-key
              |  Send Reset Link

              
    // Forgotpassword end
    +footerfile
    // forgot password end